<app-header>

</app-header>
<ion-content>
    <div class="inner-div">
        <ion-grid>
            <ion-row class="ion-text-center mt-3 mb-2">
                <ion-col>
                    <h5 header-text>Uploaded Images</h5>
                </ion-col>
            </ion-row>
            <ion-row search-box *ngIf="isEnableSearch ==  true">
                <ion-col>
                    <div class="text-center">
                        <ion-icon color="light" size="large" (click)="enableSearch(false)" name="close-circle-outline">
                        </ion-icon>
                    </div>
                    <ion-searchbar color="light" showCancelButton="focus" [(ngModel)]='search'
                        cancelButtonText="Custom Cancel" type="text" debounce="500" (ionChange)="searchList()">
                    </ion-searchbar>
                    <ion-list *ngIf="isItemAvailable">
                        <ion-item (click)="ItemAvailableClose(item)" *ngFor="let item of items">{{ item }}</ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="uploadImageList.length == 0">
                <ion-col>
                    <ion-card class="ion-margin-vertical">
                        <ion-card-content>
                            No Record Found
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="uploadImageList.length > 0">
                <ion-col *ngFor="let image of uploadImageList" size="6">
                    <img [src]="image.upload_image" class="img_size" (click)='navigateMediaInfo(image)'>
                </ion-col>
            </ion-row>
            <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
                <ion-infinite-scroll-content class="loadingspinner" loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
        </ion-grid>
        <ion-grid *ngIf="loadMoreBtn">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <div class="ion-text-center">
                        <ion-button color="yellow btn-curve" size="small" btn-yellow class="mt-10" (click)="loadMore()">
                            Load
                            More &nbsp;<ion-icon name="arrow-down-outline"></ion-icon>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-toolbar *ngIf="showToolbar == true" color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button [routerLink]="['/home']">
                <ion-icon name="caret-back-outline"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="enableSearch(true)">
                <ion-icon name="search-outline"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>