.img_size {
    width: 100%;
    object-fit: cover;
    object-position: center;
    // background-color: lighten(white, 70%);
    background-color: transparent;
    height: 150px;
    // border-radius: 10px;
}
[search-box]{
    background: #ffffff1f;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ffffff3b;
    ion-list{
    margin: -5px 7px;
    width: 94%;
    padding: 0;
    }
}

.btn-curve{
    border-radius: 10px;
    --border-radius: 10px;
    --ion-color-contrast: #212721;
 }