<app-header>

</app-header>

<ion-content>

    <div class="inner-div">

        <ion-grid>
            <ion-row class="ion-text-center mt-3 mb-2">
                <ion-col>
                    <h5 header-text>Trend Spotters</h5>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid search-box *ngIf="isEnableSearch ==  true">
            <ion-row>
                <ion-col>
                    <ion-icon color="light" size="large" (click)="enableSearch(false)" name="close-circle-outline">
                    </ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="d-block">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                    <ion-searchbar color="light" showCancelButton="focus" [(ngModel)]='city_or_studname'
                        cancelButtonText="Custom Cancel" type="text" debounce="500" (ionChange)="searchList()">
                    </ion-searchbar>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row *ngIf="trendSpotterList.length == 0">
                <ion-col>
                    <ion-card class="ion-margin-vertical">
                        <ion-card-content>
                            No Record Found
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row class="ts-list" *ngIf="trendSpotterList.length > 0">
                <ion-col size=6 class="w-100" *ngFor="let spotter of trendSpotterList">
                    <ion-avatar>
                        <img [src]="spotter.upload_image" height="100%" width="100%" *ngIf="spotter.upload_image">
                        <img src="../../assets//image/no_user_yellow.png" height="100%" width="100%"
                            *ngIf="!spotter.upload_image">
                    </ion-avatar>
                    <ion-label f-14 class="over-flow-text ion-text-capitalize ion-text-center" color="white">
                        {{spotter.stud_name}}
                    </ion-label>
                    <ion-label f-10 class="over-flow-text ion-text-capitalize ion-text-center" color="white">
                        {{spotter.city}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <!-- <ion-infinite-scroll [disabled]="Scroll" (ionInfinite)="loadData()">
                <ion-infinite-scroll-content class="loadingspinner" loadingSpinner="bubbles"
                    loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
        </ion-grid>
        <ion-grid *ngIf="loadMoreBtn">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <div class="ion-text-center">
                        <ion-button color="yellow btn-curve" size="small" btn-yellow class="mt-10" (click)="loadMore()">
                            Load
                            More &nbsp;<ion-icon name="arrow-down-outline"></ion-icon>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-toolbar *ngIf="showToolbar == true" color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button [routerLink]="['/home']">
                <ion-icon name="caret-back-outline"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="enableSearch(true)">
                <ion-icon name="search-outline"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>