ion-col {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5px;
}

[f-14] {
    font-size: 15px!important;
}

[f-10] {
    font-size: 13px !important;
}

.bg-list{
    background-color: transparent;
}

[search-box]{
    background: #ffffff1f;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ffffff3b;
    ion-list{
    margin: -5px 0;
    width: 94%;
    padding: 0;
    }
}
// ion-slide {
//     height: calc(100vh - 140px);
//   }

ion-slide {
    // margin-right: 15px !important;
    width: 45% !important;
    }

    .ts-list{
        ion-label{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
       
    }

    .btn-curve{
        border-radius: 10px;
        --border-radius: 10px;
        --ion-color-contrast: #212721;
     }