.card-header-unread,.card-header-unread-ios{
   background-color: #ffd700;
   border-radius: 40px 0px 40px 0px;
}
.card-header-read,.card-header-read-ios{
    background-color: beige;
    border-radius: 40px 0px 40px 0px;
 }
.card-content-color{
    background-color: azure;
 }
 .card-header-text{
    font-size: 14px;
 }
 .card-content-text{
    font-size: 15px;
 }
 .card-content-date{
    font-size: 11px;
 }
 .size{
	width:4rem;
}
.btn-curve{
   border-radius: 10px;
   --border-radius: 10px;
   --ion-color-contrast: #212721;
}