<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-div">
    <!-- <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col *ngIf="totalListCount>notificationList.length">
          <div class="ion-text-end">
            <ion-button color="yellow" size="small" btn-yellow class="mt-10" (click)="loadMore()">Load
              More &nbsp;<ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-grid>
      <ion-row class="ion-justify-content-center" *ngFor="let notification of notificationList; let i=index">
        <ion-col>
          <ion-card tappable (click)="get_read_notification(notification.msg_id,notification.read_sts,i)"
            [ngClass]="notification.read_sts=='True'? 'card-header-read':'card-header-unread'">
            <ion-card-header class="card-header-color">
              <ion-grid>
                <ion-row>
                  <ion-col size="11">
                    <ion-label class="card-header-text"> <b>{{notification.msg_title}}</b></ion-label>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon [name]="isGroupShown(i) ? 'caret-down-outline' :  'caret-forward-outline'">
                    </ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content class="card-content-color" *ngIf="isGroupShown(i)">
              <ion-row>
                <ion-col>
                  <ion-label class="card-content-text">{{notification.txt_msg}} </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="ion-text-end">
                <ion-col>
                  <ion-text class="card-content-date" color="primary">{{notification.creationdate}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="notificationList.length == 0">
      <ion-row>
        <ion-col>
          No Records Found!
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="loadMoreBtn">
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-button color="yellow btn-curve" size="small" btn-yellow class="mt-10" (click)="loadMore()">Load
              More &nbsp;<ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>