<ion-header translucent no-border>
    <ion-toolbar>
        <ion-item header-menu lines="none">
            <ion-avatar slot="start">
                <img [src]="loggedDetails.upload_image" height="100%" width="100%" *ngIf="loggedDetails.upload_image">
                <img src="../../assets//image/user-login-icon-1.png" height="100%" width="100%"
                    *ngIf="!loggedDetails.upload_image">
            </ion-avatar>
            <ion-label>
                <h3 font-header class="ion-text-capitalize">{{loggedDetails.stud_name}}</h3>
                <p font-medium>{{city}}</p>
            </ion-label>
            <div class="notification-bell-container" slot="end">
                <p class="text-highlight" (click)="moveNotificationPage()"
                    *ngIf="notificationUnreadCount && notificationUnreadCount!=0">
                    {{notificationUnreadCount > 9 ? '9+': notificationUnreadCount}}</p>
                <ion-icon name="notifications-outline" (click)="moveNotificationPage()" class="bell-icon">
                </ion-icon>
            </div>
            <ion-icon name="reorder-four-outline" (click)="openMenu()" slot="end"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>