.notification-bell-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .text-highlight{
      position: absolute;
      right: -3px;
      font-size: 10px;
      cursor: pointer;
      top: -1px;
      background: red;
      border-radius: 50%;
      z-index: 1111;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 19px;
      color: #ffffff;
      font-weight: bold;
    }
    .bell-icon{
        font-size: 30px;
        position: relative;
        &:after{
          content: '';
          position: absolute;
  
        }
      }
  }