
ion-content {
    --background: #fff;
}
ion-grid {
    padding: 25px;
    font-size: 18px;
}
.title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.close {
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
}
.close:hover {
    cursor: pointer;
}

