<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="8" class="title">
                <ion-label>File Information</ion-label>
            </ion-col>
            <ion-col size="4" class="close">
                <ion-label (click)="dismiss()">Close</ion-label>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="data.image_video && data.image_video=='IMAGE'">
        <ion-row *ngIf="fileinfo.fileName && fileinfo.fileName!=undefined">
            <ion-col size="5">
                <small><b>File Name :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.fileName}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.time && fileinfo.time!=undefined">
            <ion-col size="5">
                <small><b>Time :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.time}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.resolution && fileinfo.resolution!=undefined">
            <ion-col size="5">
                <small><b>Resolution :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.resolution}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.size && fileinfo.size!=undefined">
            <ion-col size="5">
                <small><b>Size :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.size}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.device && fileinfo.device!=undefined">
            <ion-col size="5">
                <small><b>Device :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.device}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.model && fileinfo.model!=undefined">
            <ion-col size="5">
                <small><b>Model :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.model}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.flash && fileinfo.flash!=undefined">
            <ion-col size="5">
                <small><b>Flash :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.flash}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.whiteBalance && fileinfo.whiteBalance!=undefined">
            <ion-col size="5">
                <small><b>White Blance :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.whiteBalance}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.iso && fileinfo.iso!=undefined">
            <ion-col size="5">
                <small><b>ISO :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.iso}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.orientation && fileinfo.orientation!=undefined">
            <ion-col size="5">
                <small><b>Orientation :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.orientation}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="data.location && data.location!=undefined && data.location!='undefined,undefined'">
            <ion-col size="5">
                <small><b>Location :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{data.location?data.location:'No location found'}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="latitude">
            <ion-col size="5">
                <small><b>Latitude :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{latitude}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="longitude">
            <ion-col size="5">
                <small><b>Longitude :</b></small>
            </ion-col>
            <ion-col size="7">

                <small>{{longitude}}</small>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="data.image_video && data.image_video=='VIDEO'">
        <ion-row *ngIf="fileinfo.fileName && fileinfo.fileName!=undefined">
            <ion-col size="5">
                <small><b>File Name :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.fileName}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.time && fileinfo.time!=undefined">
            <ion-col size="5">
                <small><b>Time :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.time}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.resolution && fileinfo.resolution!=undefined">
            <ion-col size="5">
                <small><b>Resolution :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.resolution}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fileinfo.size && fileinfo.size!=undefined">
            <ion-col size="5">
                <small><b>Size :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{fileinfo.size}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="data.location && data.location!=undefined && data.location!='undefined,undefined'">
            <ion-col size="5">
                <small><b>Location :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{data.location?data.location:'No location found'}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="latitude">
            <ion-col size="5">
                <small><b>Latitude :</b></small>
            </ion-col>
            <ion-col size="7">
                <small>{{latitude}}</small>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="longitude">
            <ion-col size="5">
                <small><b>Longitude :</b></small>
            </ion-col>
            <ion-col size="7">

                <small>{{longitude}}</small>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>