ion-content {
--background: linear-gradient(#00000099 100%, #00000099 100%), url("../../assets/image/background.png") no-repeat center center / cover;
   
}
.alert-button-inner.sc-ion-alert-md{
    color:#000;
}

.close {
    position: absolute;
    top: 12px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

.btn-height {
    height: 45%;
    border-radius: 5px;
}
.col-padd {
    padding: 15px 25px;
}

.alert-custom-class1 {
    ion-backdrop {
        --backdrop-opacity: var(--ion-backdrop-opacity, 0.70);
    }
    .alert-wrapper {
        background: var(--ion-color-light);
        border-radius: 0px;
        margin: 1rem;
        .alert-sub-title {
            color: black;
           font-size: 14px;
           padding-bottom:100px;
        }
        .alert-message {
            color: black;
            text-align: center;
            // text-transform: capitalize;
            font-weight: 600;
        }
        .alert-button-group {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .warning {
            background: var(--ion-color-yellow);
            color: black;
            text-transform: capitalize;
            font-weight: 500;
        }
        .secondary {
            background: var(--ion-color-dark);
            color: white;
            text-transform: capitalize;
            font-weight: 500;
        }
        .Login{
            top: 60px;
            width: 100%;
            position: absolute;
            background: #ff9800;
            color: black;
            text-transform: capitalize;
            font-weight: 500;
            margin-top: 10px;
        }
    }
}

    // .alert-sub-title.sc-ion-alert-md{
    //  font-size: 14px;
    // }

    // .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    //     padding-top: unset;
    // }
    // .alert-message.sc-ion-alert-ios, .alert-input-group.sc-ion-alert-ios {
    //     padding-top: 150px;
    // }
    .alert-button-inner.sc-ion-alert-md {
        color: unset;
    }
 
// .ion-img-curve{
//     border-radius: 5px !important;
// }
// ion-img{
//     border-radius: 5px;
// }