<ion-content>
    <ion-grid class="vertical-align">
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col ion-margin-horizontal size="10">
                <ion-img class="w-75 mx-auto ion-img-curve" src="../../assets/image/logo-removebg.png"></ion-img>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row class="vertical-align">
            <ion-col align-self-center class="col-padd">
                <ion-button [routerLink]="['/login']" expand="block" color="btn-yellow" size="large" btn-yellow
                    class="mt-15 btn-height">Sign In
                </ion-button>
                <ion-button expand="block" (click)="signupAlert()" color="btn-transparent" btn-transparent size="large"
                    class="mt-15 btn-height">
                    Sign Up
                </ion-button>
                <!-- <ion-button expand="block" (click)="modalpop()" color="btn-transparent" btn-transparent size="large"
                    class="mt-15">
                    Test
                </ion-button> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>