ion-title {
    color: #000;
    font-family:'Poppins', sans-serif;
}

.details {
	margin-top: 1rem;
    font-weight: 600;
	color: var(--ion-color-yellow);//#F6C762;
	font-size:14px;
}
.detail{
	font-weight: 500;
	color: #ffffff;
	margin-top:0.5rem;
	font-size:14px;
    text-align: center;
}
.size{
	text-align: center;
	width: 100%;
	// padding: 5px 5px!important;
}
.mt-10{
    margin-top: 2rem;
    font-family:'Poppins', sans-serif;
}
.text{
    font-weight: 500;
    position: relative;
	bottom: 10px;
	left:0.8rem;
	font-size: 14px;
    color: #ffffff;
}
	// #form{
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// 	width: auto;
	// 	margin: 2px 15px;
	// 	position: relative;
	// 	right: 0.2rem;
	// 	input{
	// 		width: 50px;
	// 		height: 50px;
	// 		padding: 0;
	// 		text-align: center;
	// 		color:#fff;
    //         border: 1px solid rgb(255, 255, 255);
    //         background-color: transparent;

	// 		&:last-child{
	// 			margin-right: 0;
	// 		}
	// 		&::-webkit-inner-spin-button, 
	// 		&::-webkit-outer-spin-button { 
	// 			-webkit-appearance: none;
	// 			appearance: none;
	// 			margin: 0;
	// 		}
	// 		&:focus,
	// 		&.focus{
	// 			border-color:#F6C762;
	// 			outline: none;
	// 			box-shadow: none;
	// 		}
	// 	}
	// }
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	  }
	  
	//   .digit-group input {
	// 	width: 45px;
	// 	height: 45px;
	// 	overflow: hidden;
	// 	overflow-y: hidden; 
	// 	background-color: #18182a00;
	// 	border: 1px solid #fff;
	// 	border-radius: 0;
	// 	line-height: 50px;
	// 	text-align: center;
	// 	font-size: 14px;
	// 	font-weight: 200;
	// 	color: white;
	// 	margin: 0px 5px;
	// 	&:focus,
	// 		&.focus{
	// 			border-color:#F6C762;
	// 			outline: none;
	// 			box-shadow: none;
	// 			overflow: hidden;
	// 			overflow-y: hidden; 
	// 		}
	//   }
	//   .digit-group .splitter {
	// 	padding: 0 5px;
	// 	color: white;
	// 	font-size: 14px;
	//   }

	//   ion-input{
	// 	display:inline-block;
	// 	margin:8px;
	// 	--padding-start:5px;
	// 	width: 40px;
	// 	height: 40px;
	// 	overflow: hidden;
	// 	overflow-y: hidden; 
	// 	background-color: #18182a00;
	// 	border: 1px solid #fff;
	// 	border-radius: 0;
	// 	// line-height: 50px;
	// 	text-align: center;
	// 	font-size: 14px;
	// 	font-weight: 200;
	// 	color: white;	
	// 		&.focus{x
	// 			border-color:#F6C762;
	// 			outline: none;
	// 			box-shadow: none;
	// 			overflow: hidden;
	// 			overflow-y: hidden; 
	// 		}
	// 	}
	.otp-input{
		width: 45px;
		height: 45px;
		margin: 7px;
		/* border-radius: 10px; */
		// font-size: xx-large;
		text-align: center;
		border: 1px solid #212721;
		border-bottom-color: #fff;
		color: #fff;
	}
	.otp-div{
		padding: 0px 30px;
	}

	.btn-height1 {
		border-radius: 5px;
	}