<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Verify OTP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="overflow-y: hidden;">
  <div class="inner-div">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col align-self-center>
          <ion-img src="../../assets/image/logo-removebg.png" class="mx-auto mt-3 w-45"></ion-img>
          <div class="details ion-text-center">
            <ion-label *ngIf="!isClick">OTP has been sent to your<br> Mobile Number and Email ID</ion-label>
            <ion-label *ngIf="isClick">Your OTP Timer has been <br> expired</ion-label>
          </div>
          <div class="detail" align-self-center>
            <countdown *ngIf="!isClick" #countdown [config]="config" (event)="handleEvent($event)"></countdown>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row class="mt-5">
        <ion-col>
          <div class="row otp-div">
            <ion-input class="otp-input" type="tel" #otp1 required="true" maxLength="1" [disabled]="otpDisabled"
              [(ngModel)]="OTP.first" (keyup)="otpController($event,otp2,'')">
            </ion-input>
            <ion-input class="otp-input" type="tel" #otp2 required="true" maxLength="1" [disabled]="otpDisabled"
              [(ngModel)]="OTP.second" (keyup)="otpController($event,otp3,otp1)">
            </ion-input>
            <ion-input class="otp-input" type="tel" #otp3 required="true" maxLength="1" [disabled]="otpDisabled"
              [(ngModel)]="OTP.third" (keyup)="otpController($event,otp4,otp2)">
            </ion-input>
            <ion-input class="otp-input" type="tel" #otp4 required="true" maxLength="1" [disabled]="otpDisabled"
              [(ngModel)]="OTP.fourth" (keyup)="otpController($event,otp5,otp3)">
            </ion-input>
            <ion-input class="otp-input" type="tel" #otp5 required="true" maxLength="1" [disabled]="otpDisabled"
              [(ngModel)]="OTP.fifth" (keyup)="otpController($event,null,otp4)">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="4">
          <div class="size" text-center>
            <ion-button *ngIf="isClick" color="btn-yellow" size="medium" (click)="rsendOTP(mobileno)" btn-yellow
              class="mt-10 btn-height1">Resend
            </ion-button>
          </div>
          <div class="size" text-center>
            <ion-button (click)="validateOTP(mobileno,enteredOTP)" size="medium"  *ngIf="!isClick" color="btn-yellow" 
              btn-yellow class="mt-10 btn-height1">Verify
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>