#container {
    height: 100%;
    width: 100%;
    // position: relative;
    ion-toolbar,
    ion-item {
        --background: #252523d6;
        *,
        *::before,
        *::after {
            box-sizing: border-box;
            --background: #252523d6;
            color: #f6c762;
        }
    }
    .selected-filter {
        --background: #f6c76200;
        *,
        *::before,
        *::after {
            box-sizing: border-box;
            --background: #3535356e;
            color: #f8f9fa;
        }
    }
    .save_btn {
        --background: #f6c762 !important;
        color: #101010 !important;
        width: 20% !important;
        font-weight: bold !important;
    }
}

#image {
    // position: absolute;
    // left: 0;
    // top: 0;
}

#text {
    z-index: 100;
    position: absolute;
    color: white;
    font-weight: bold;
    font-weight: bold;
    left: 0;
    bottom: 0;
}

#options {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 55px;
    width: 100%;
    background: #35373938;
    transform: translate(0, 0);
}

.save-options {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    background: #35373938;
}

.sliders {
    display: block;
    margin: 5px 0;
    text-align: left;
}

.video-player {
    background: #1f1e1d;
    width: 100%;
    height: 100%;

    
    video {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.img-container {
    // background: #1f1e1d;
    // image-rendering: pixelated;
    // height: 100%;
    // width: 100%;
    // object-fit: contain;
    background: #1f1e1d;
    /* image-rendering: pixelated; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-fit: contain; */
    // position: relative;
    display: flex;
    flex-direction: row;
    img {
        height: auto;
        // max-height: 100%;
        // min-height: max-content;
        width: 100%;

        // vertical-align: middle !important;
        object-fit: contain;
        object-position: center;
        visibility: hidden;

    
    }

}

.canvas{
    object-fit: contain!important;
    object-position: center!important;
}

.label-width{
    width: 20%;
}
/********************
    Apply Variables
********************/

#image {
    margin: auto;
    vertical-align: bottom;
    clip-path: var(--clip-path);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    // filter: brightness(--brightness);
    // transform: rotate(var(--rotate)) scaleX(var(--scaleX)) scaleY(var(--scaleY)) scale(var(--scaleXY)) translateX(var(--translateX)) translateY(var(--translateY)) skewX(var(--skewX)) skewY(var(--skewY));
    filter: blur(var(--blur)) brightness(var(--brightness)) contrast(var(--contrast));
}

.ws-100 {
    width: 100% !important;
    position: absolute;
}

ion-tab-button{
    &.background-color{
        background: transparent;
    }
}