<app-header>

</app-header>
<ion-content>
    <!-- <img [src]="originalImage" *ngIf="originalImage" style="image-rendering: pixelated;height: 100%; width:100%;object-fit: initial;"> -->
    <div id="container" class="img-container" *ngIf="type == 'image'">
        <!-- <img id="image" src="../../assets/image/4.jpg" /> -->
        <!-- <img [src]="canvasImage" /> -->
        <img id="imageSrc" #imageSrc [src]="originalImage" />
        <ion-item lines="none" class="ws-100" *ngIf="property && enableEditMode == true" id="save-options" mode="md">
            <ion-button fill="clear" slot="end" class="save_btn" (click)="saveChanges()" mode="md">Save</ion-button>
        </ion-item>
        <div id="options" *ngIf="property == 'Filters' && enableEditMode == true">
            <!-- <ion-item lines="none" mode="md">
                <span>Contrast</span>
                <ion-range id="brightness-slider" name="brightness" min="1" max="200" value="50" color="yellow" mode="md"
                    (ionChange)="setFilter('contrast',$event.target.value,'%','filter')" data-sizing="%" step="2">
                </ion-range>
            </ion-item>
            <ion-item lines="none" mode="md">
                <span>Saturation</span>
                <ion-range id="brightness-slider" name="brightness" min="1" max="200" value="50" color="yellow"
                    (ionChange)="setFilter('saturate',$event.target.value,'%','filter')" data-sizing="%" step="2" mode="md">
                </ion-range>
            </ion-item>
            <ion-item lines="none" mode="md">
                <span>Brightness</span>
                <ion-range id="brightness-slider" name="brightness" min="20" max="200" value="50" color="yellow"
                    (ionChange)="setFilter('brightness',$event.target.value,'%','filter')" data-sizing="%" step="2" mode="md">
                </ion-range>
            </ion-item>
            <ion-item lines="none" mode="md">
                <span>Hue Rotate</span>
                <ion-range id="brightness-slider" name="brightness" min="1" max="200" value="50" color="yellow"
                    (ionChange)="setFilter('hue-rotate',$event.target.value,'deg','filter')" data-sizing="%" step="2" mode="md">
                </ion-range>
            </ion-item> -->

            <ion-item lines="none" mode="md">
                <!-- <span>Contrast {{contrast.value}}</span> -->
                <ion-range id="brightness-slider" #contrast1 name="Contrast" min="-100" max="100" [(ngModel)]="contrast"
                    color="yellow" mode="md" (ionChange)="imageFilter(contrast, saturation, brightness, hue, false)"
                    step="1">
                    <ion-label slot="start" class="label-width">Contrast</ion-label>
                </ion-range>
            </ion-item>
            <ion-item lines="none" mode="md">
                <!-- <span>Saturation {{saturation}}</span> -->
                <ion-range id="brightness-slider" #saturate1 name="Saturate" min="-100" max="100"
                    [(ngModel)]="saturation" color="yellow"
                    (ionChange)="imageFilter(contrast, saturation, brightness, hue, false)" step="1" mode="md">
                    <ion-label slot="start" class="label-width">Saturation</ion-label>

                </ion-range>
            </ion-item>
            <ion-item lines="none" mode="md">
                <!-- <span>Brightness {{brightness}}</span> -->
                <ion-range id="brightness-slider" #brightness1 name="Brightness" min="-100" max="100"
                    [(ngModel)]="brightness" color="yellow"
                    (ionChange)="imageFilter(contrast, saturation, brightness, hue, false)" step="1" mode="md">
                    <ion-label slot="start" class="label-width">Brightness</ion-label>

                </ion-range>
            </ion-item>
            <ion-item lines="none" mode="md">
                <!-- <span>Hue {{hue}}</span> -->
                <ion-range id="brightness-slider" #hue1 name="Hue" min="-100" max="100" [(ngModel)]="hue" color="yellow"
                    (ionChange)="imageFilter(contrast, saturation, brightness, hue, false)" step="1" mode="md">
                    <ion-label slot="start" class="label-width">Hue</ion-label>

                </ion-range>
            </ion-item>
        </div>

        <div id="options" *ngIf="property == 'Orientation'">
            <ion-item lines="none" mode="md">
                <ion-label (click)="setFilter('rotate','0','deg','transform')" mode="md">
                    <span>Rotate</span></ion-label>
                <ion-icon name="arrow-undo-circle-outline" (click)="setFilter('rotate','0','deg','transform')"
                    slot="end" mode="md"></ion-icon>
                <!-- <ion-label *ngIf="cntValue && cntValue == '-90'" mode="md"><span>Rotate</span></ion-label>
                <ion-label *ngIf="cntValue && cntValue != '-90'" (click)="setFilter('rotate','-90','deg','transform')" mode="md">
                    <span>Rotate</span></ion-label>
                <ion-icon name="arrow-undo-circle-outline" (click)="setFilter('rotate','0','deg','transform')"
                    slot="end" mode="md"></ion-icon> -->
            </ion-item>
            <ion-item lines="none">
                <ion-label (click)="setFilter('rotateY','180','deg','transform')" mode="md"><span>Mirror</span>
                </ion-label>
                <ion-icon name="arrow-undo-circle-outline" (click)="setFilter('rotateY','180','deg','transform')"
                    slot="end" mode="md"></ion-icon>
                <!-- <ion-label *ngIf="cntValue && cntValue == '180'" mode="md"><span>Mirror</span></ion-label>
                <ion-label *ngIf="cntValue && cntValue != '180'" (click)="setFilter('rotateY','180','deg','transform')" mode="md">
                    <span>Mirror</span></ion-label>
                <ion-icon name="arrow-undo-circle-outline" (click)="setFilter('rotateY','360','deg','transform')"
                    slot="end" mode="md"></ion-icon> -->
            </ion-item>
        </div>
        <ion-toolbar *ngIf="enableEditMode == true" id="text" mode="md">
            <ion-tabs mode="md">
                <ion-tab-bar mode="md">
                    <ion-tab-button [ngClass]="{'selected-filter' : property == 'Filters'}"
                        (click)="selectedFilterProperty('Filters')" mode="md" class="background-color">
                        <ion-icon name="contrast-outline" mode="md"></ion-icon>
                        <ion-label mode="md">Filters</ion-label>
                    </ion-tab-button>
                    <ion-tab-button [ngClass]="{'selected-filter' : property == 'Crop'}"
                        (click)="cropImage(originalImage);" mode="md" class="background-color">
                        <ion-icon name="crop-outline" mode="md"></ion-icon>
                        <ion-label mode="md">Crop & Orientation</ion-label>
                    </ion-tab-button>
                    <!-- <ion-tab-button [ngClass]="{'selected-filter' : property == 'Orientation'}"
                        (click)="selectedFilterProperty('Orientation')" mode="md">
                        <ion-icon name="camera-reverse-outline" mode="md"></ion-icon>
                        <ion-label mode="md">Orientation</ion-label>
                    </ion-tab-button> -->
                </ion-tab-bar>
            </ion-tabs>
        </ion-toolbar>
    </div>
    <div class="video-player" *ngIf="type == 'video'">
        <video #videoElement id="videoElement" [poster]="posterImage" controls playsinline webkit-playsinline
            preload="auto" muted="true" controlsList="nodownload">
            <source [src]="originalImage" type="video/mp4" />
            <!-- <source src="../../assets/videos/sample.mp4" type="video/mp4" /> -->
        </video>
    </div>

</ion-content>

<ion-toolbar color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">

            <ion-tab-button (click)="goBack()">
                <ion-icon name="caret-back-outline"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="submitFileData()">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-label>Next</ion-label>
            </ion-tab-button>
            <ion-tab-button *ngIf="type == 'video'">
            </ion-tab-button>
            <ion-tab-button *ngIf="type == 'image'" (click)="enableEdit()">
                <ion-icon name="create-outline"></ion-icon>
                <ion-label>Edit</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>