<app-header>

</app-header>
<ion-content>
    <div class="inner-div">
        <ion-grid class="pt-3">
            <ion-row class="ion-text-center">
                <ion-col>
                    <h5 header-text>Upload Files</h5>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!imageUrlPath && type" class="ion-text-center">
                <ion-col (click)="takeSnap()">
                    <div class="drop-zone file-input-container">
                        <label>
                            <ion-icon name="logo-dropbox"></ion-icon>
                            <h6>Tap To Drop Files Here</h6>
                        </label>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="imagePreview && type == 'image'" class="ion-text-center">
                <ion-col>
                    <!-- {{imagePreview}} -->
                    <img id='preview' [src]="imagePreview" class="w-100 img-preview" />
                    <!-- <img id='preview'  src="../../assets/image/images.jpg" class="w-100 img-preview" /> -->
                </ion-col>
            </ion-row>
            <ion-row *ngIf="imagePreview && type == 'video'" class="ion-text-center">
                <ion-col>
                    <div class="video-player">
                        <video #videoElement id="videoElement" muted defaultMuted controls playsinline
                            webkit-playsinline preload="auto" width='100%' [poster]="posterImage"
                            controlsList="nodownload">
                            <source [src]="imagePreview" />
                            <!-- <source src="../../assets/videos/sample.mp4" type="video/mp4" /> -->
                        </video>
                    </div>
                </ion-col>
            </ion-row>
            <ion-card class="ion-margin-vertical" *ngIf="fileName && fileSize">
                <ion-card-content>
                    <b>File Name :</b>{{fileName}}<br>
                    <b>File Size :</b>{{fileSize+'MB'}}
                </ion-card-content>
            </ion-card>
            <ion-card class="ion-margin-vertical" *ngIf="type == 'image'">
                <ion-card-content>
                    <b>Note:</b> The image resolution should be greater than 1024px X 720px
                </ion-card-content>
            </ion-card>
        </ion-grid>
    </div>
</ion-content>
<ion-toolbar color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button (click)="goback()">
                <ion-icon name="caret-back-outline"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="moveToPreview(location,imageUrlPath,type)">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-label>Next</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="deleteImage(imageUrlPath)">
                <ion-icon name="trash"></ion-icon>
                <ion-label>Delete</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>