// .area {
//     width: 100%;
//     padding: 15px;
//     height: 50%;
//     // margin: 15px;
//     // border: 1px solid #333;
//     background: transparent;
// }
// #dropZone {
//     border: 2px dashed var(--ion-color-yellow);
//     -webkit-border-radius: 5px;
//     border-radius: 5px;
//     padding: 50px;
//     text-align: center;
//     font: 15pt bold arial;
//     color: var(--ion-color-white);
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     ion-icon {
//         font: 75pt bold arial;
//     }
// }
// .drop-file-over {
//     background: transparent;
// }
.drop-zone {
    background: transparent;
    border: dotted 3px var(--ion-color-yellow);
    height: calc(100vh - 425px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: var(--ion-color-white);
    flex-flow: column;
    align-items: center;
    ion-icon {
        font: 75pt bold arial;
    }
}

.file-input-container {
    align-items: center;
    // display: inline-flex;
    input[type="file"] {
        display: none;
    }
    label {
        border: 0;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over {
    border: dotted 3px red;
}

[font-small] {
    // font-size: 12px!important;
    font-weight: bold !important;
    --border-radius: 0px;
}

[margin-1] {
    margin: 2.25rem;
}


/* DOES NOT WORK - not specific enough */

.popover-content {
    background: #222;
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class .popover-content {
    background: #222;
}

.video-player {
    background: #1f1e1d;
    width: 100%;
    height: calc(100vh - 350px);
    video {
        width: 100%;
        height: 100%;
    }
}
.img-preview{
    height: calc(100vh - 350px);
    object-fit: scale-down;
}