<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Preview</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content padding color="white">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="dark" class="ion-float-right" fill="clear" (click)="ClosePopover()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h5 class="ion-text-center">Preview</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <img src="../../assets/image/2.png" class="img_size">
                </div>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>