<ion-content padding color="white">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="dark" class="ion-float-right" fill="clear" (click)="ClosePopover()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h5 class="ion-text-center">Add Category</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-item input-text-color>
                        <ion-label color="dark" position="floating">Enter Category
                        </ion-label>
                        <ion-input color="dark"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-button (click)="ClosePopover()" expand="block" color="yellow" size="default" btn-yellow class="mt-15">Add
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>