<ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Sign In</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="inner-div">
        <form [formGroup]="signinFg" autocomplete="off" #f="ngForm" (ngSubmit)="signinFg.valid && signinFunction()">
            <ion-grid>
                <ion-row>
                    <ion-col size="1"></ion-col>
                    <ion-col align-self-center size="10">
                        <ion-img src="../../assets/image/logo-removebg.png" class="w-45 mx-auto mt-3"></ion-img>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                </ion-row>
                <ion-row class="mt-5">
                    <ion-col align-self-center>
                        <ion-item input-text-color>
                            <ion-label color="light" position="floating">Username / Roll number
                            </ion-label>
                            <ion-input formControlName="username" type="text" required></ion-input>
                            <ion-icon name="person-outline" color="light" size="small" class="ion-align-self-end"
                                slot="end"></ion-icon>
                        </ion-item>
                        <div class="error"
                            *ngIf="signinFg.controls['username'].errors?.required && (signinFg.get('username').touched || f.submitted)">
                            Username / Roll number is Required.</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center>
                        <ion-item input-text-color>
                            <ion-label label color="light" position="floating">Password / CMS password
                            </ion-label>
                            <ion-input [type]="passwordType" formControlName="pwd" required></ion-input>
                            <ion-icon [name]="passwordIcon" color="light" size="small" (click)='hideShowPassword()'
                                class="ion-align-self-end" slot="end">
                            </ion-icon>
                        </ion-item>
                        <div class="error"
                            *ngIf="signinFg.controls['pwd'].errors?.required && (signinFg.get('pwd').touched || f.submitted)">
                            Password / CMS password is Required.</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center class="col-padd">
                        <ion-button type="submit" expand="block" color="btn-yellow btn-height" size="large" btn-yellow
                            class="mt-15">
                            Sign In
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-center mar-top">
                        <ion-router-link [routerLink]="['/forgot-password']" color="light" class="underline">
                            Forgot Password ?
                        </ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>