.error {
    color: var(--ion-color-yellow); //#d39e00;
    font-size: 12px;
}

.inner-div {
    position: absolute !important;
    min-height: 95% !important;
    display: block;
}

.btn-height {
    height: 85%;
    border-radius: 10px;
}
.col-padd {
    padding: 15px 25px;
}
.mar-top{
    margin-top: 15px;
}
