
<app-header>

</app-header>
<ion-content>
    <div class="inner-div">
        <ion-grid class="pt-3">
            <ion-row class="ion-text-center mt-3 mb-2">
                <ion-col>
                    <h5 header-text>Resources</h5>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" [routerLink]="['/resourses-videos']">
                        <ion-icon margin-1 class="icon mx-auto" color="yellow" name="albums-outline">
                        </ion-icon>
                        <!-- <ion-label>Images</ion-label> -->
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" class="align-content-center" [routerLink]="['/resourses-videos']">
                        <ion-icon margin-1 name="albums-outline" class="icon mx-auto"></ion-icon>
                        <!-- <span class="text">Videos</span> -->
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" [routerLink]="['/resourses-videos']">
                        <ion-icon margin-1 class="icon mx-auto" color="yellow" name="albums-outline">
                        </ion-icon>
                        <!-- <ion-label>Images</ion-label> -->
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" class="align-content-center" [routerLink]="['/resourses-videos']">
                        <ion-icon margin-1 name="albums-outline" class="icon mx-auto"></ion-icon>
                        <!-- <span class="text">Videos</span> -->
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" [routerLink]="['/resourses-videos']">
                        <ion-icon margin-1 class="icon mx-auto" color="yellow" name="albums-outline">
                        </ion-icon>
                        <!-- <ion-label>Images</ion-label> -->
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" class="align-content-center" [routerLink]="['/resourses-videos']">
                        <ion-icon margin-1 name="albums-outline" class="icon mx-auto"></ion-icon>
                        <!-- <span class="text">Videos</span> -->
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-toolbar color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button tab="share">
                <ion-icon name="caret-back-outline"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>
            
            <ion-tab-button tab="camera">
                <ion-icon name="bookmark"></ion-icon>
                <ion-label>Bookmark</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="search">
                <ion-icon name="search-outline"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button>

         
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>