[font-small] {
    // font-size: 12px!important;
    font-weight: bold !important;
    --border-radius: 0px;
}

[margin-1] {
    margin: 2.25rem;
}

.icon {
    display: flex;
    font-size: 70px;
    color: #ffC977;
    vertical-align: middle;
}

[ion-col-height] {
    width: 100%;
    height: 150px;
    // background: #ffffff;
    ion-content {
        --background: var(--ion-color-lightyellow);
    }
}

.img_size {
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: lighten(white, 70%);
    height: 150px;
}

[over] {
    z-index: 1;
}