<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="overflow-y: hidden;">
  <div class="inner-div">
    <form [formGroup]="signupFg" autocomplete="off" #f="ngForm" (ngSubmit)="signupFg.valid && signupFunction()">
      <ion-grid>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col align-self-center>
            <ion-img src="../../assets/image/logo-removebg.png" class="mx-auto mt-3 w-45"></ion-img>
            <div class="details ion-text-center">
              <ion-label>Fill below details for Others</ion-label>
            </div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row class="mt-3">
          <ion-col align-self-center>
            <ion-item header-menu (click)="uploadImage()" lines="none">
              <ion-label class="upd-img mt-0">
                Upload Image
              </ion-label>
              <ion-thumbnail slot="end">
                <img [src]="currentImage" *ngIf="imageUrlPath">
                <img *ngIf="!imageUrlPath" src="../../assets/image/avatar_up.jpg">
              </ion-thumbnail>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label color="medium" position="floating">Name
              </ion-label>
              <ion-input formControlName="stud_name" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['stud_name'].errors?.required && (signupFg.get('stud_name').touched || f.submitted)">
              Username is Required.</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Type Your Degree
              </ion-label>
              <ion-input type="text" formControlName="name_of_deg" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['name_of_deg'].errors?.required && (signupFg.get('name_of_deg').touched || f.submitted)">
              Degree is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label color="medium" position="floating">Year Of Completion</ion-label>
              <ion-datetime formControlName="year_of_comp" displayFormat="YYYY" [(ngModel)]="Date" min="1987" max="2020"
                required></ion-datetime>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['year_of_comp'].errors?.required && (signupFg.get('year_of_comp').touched || f.submitted)">
              Year Of Completion is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">University
              </ion-label>
              <ion-input formControlName="campus" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['campus'].errors?.required && (signupFg.get('campus').touched || f.submitted)">
              Campus is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label color="medium" position="floating">Date Of Birth</ion-label>
              <ion-datetime formControlName="dob_ddmmyyyy" value="" required></ion-datetime>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['dob_ddmmyyyy'].errors?.required && (signupFg.get('dob_ddmmyyyy').touched || f.submitted)">
              Date Of Birth is Required.</div>
          </ion-col>
        </ion-row>
        <ion-label class="gend" color="medium" position="floating">Gender</ion-label>
        <ion-row>
          <ion-col align-self-center size="4" *ngFor="let g of genderList" (click)="selectGender(g)">
            <div [ngClass]="g.isSelected ? 'selected-gender': 'not-selected-gender'">{{g.name}} </div>
          </ion-col>
          <div class="error" *ngIf="inValidGender">
            Gender is Required.</div>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Email
              </ion-label>
              <ion-input formControlName="emailid" type="email" (ionBlur)="mailVerification()" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="!emailidErrMessage && signupFg.controls['emailid'].errors?.required && (signupFg.get('emailid').touched || f.submitted)">
              Email is Required.</div>
            <div class="error"
              *ngIf="!emailidErrMessage && signupFg.controls['emailid'].errors?.pattern &&  (signupFg.get('emailid').touched || f.submitted)">
              Email invalid.</div>
            <div class="error" *ngIf="emailidErrMessage && (signupFg.get('mobileno').touched ||
              f.submitted)">
              {{emailidErrMessage}}</div>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Mobile Number
              </ion-label>
              <ion-input formControlName="mobileno" minlength=10 maxlength=10 type="tel"
                (ionBlur)="mobileNumberVerification()" required>
              </ion-input>
            </ion-item>
            <div class="error"
              *ngIf="!mobilenoErrMessage && signupFg.controls['mobileno'].errors?.required && (signupFg.get('mobileno').touched || f.submitted)">
              Mobile Number is Required.</div>
            <div class="error"
              *ngIf="!mobilenoErrMessage && (signupFg.controls['mobileno'].errors?.min || signupFg.controls['mobileno'].errors?.max)  && (signupFg.get('mobileno').touched || f.submitted)">
              Mobile Number is Invalid.</div>
            <div class="error" *ngIf="mobilenoErrMessage && (signupFg.get('mobileno').touched ||
              f.submitted)">
              {{mobilenoErrMessage}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Area Of Interest
              </ion-label>
              <ion-input formControlName="interests" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['interests'].errors?.required && (signupFg.get('interests').touched || f.submitted)">
              Area Of Interest is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Hobby
              </ion-label>
              <ion-input formControlName="hobby" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['hobby'].errors?.required && (signupFg.get('hobby').touched || f.submitted)">
              Hobby is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Address
              </ion-label>
              <ion-input formControlName="address" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['address'].errors?.required && (signupFg.get('address').touched || f.submitted)">
              Address is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">City
              </ion-label>
              <ion-input formControlName="city" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['city'].errors?.required && (signupFg.get('city').touched || f.submitted)">
              City is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Pin Code
              </ion-label>
              <ion-input formControlName="pinCode" type="number" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['pinCode'].errors?.required && (signupFg.get('pinCode').touched || f.submitted)">
              Pin Code is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Designation
              </ion-label>
              <ion-input formControlName="designation" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['designation'].errors?.required && (signupFg.get('designation').touched || f.submitted)">
              Designation is Required.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Company
              </ion-label>
              <ion-input formControlName="company" type="text" required></ion-input>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['company'].errors?.required && (signupFg.get('company').touched || f.submitted)">
              Company is Required.</div>
          </ion-col>
        </ion-row>

        <div class="separator">Next section</div>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Username
              </ion-label>
              <ion-input formControlName="username" type="text" (ionBlur)="validateUsernameUnique()" max="10" required>
              </ion-input>
            </ion-item>
            <div class="error" *ngIf="!usernameErrMessage && signupFg.controls['username'].errors?.required && (signupFg.get('username').touched ||
            f.submitted)">
              Username is Required.</div>
            <div class="error" *ngIf="usernameErrMessage && (signupFg.get('username').touched ||
            f.submitted)">
              {{usernameErrMessage}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Password
              </ion-label>
              <ion-input [type]="passwordType" formControlName="pwd" required></ion-input>
              <ion-icon [name]="passwordIcon" color="light" size="small" (click)='hideShowPassword()'
                class="ion-align-self-end" slot="end">
              </ion-icon>
            </ion-item>
            <div class="error"
              *ngIf="signupFg.controls['pwd'].errors?.required && (signupFg.get('pwd').touched || f.submitted)">
              Password is Required.</div>
            <div class="error" *ngIf="signupFg.controls['pwd'].errors?.pattern &&
                (signupFg.get('pwd').touched || f.submitted)">
              Password must be a capital letter, a lowercase letter, a special letter, a numeric value.</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center>
            <ion-item input-text-color>
              <ion-label label color="medium" position="floating">Confirm Password
              </ion-label>
              <ion-input [type]="cpasswordType" formControlName="confirmpassword" (ionBlur)="MatchPassword()" required>
              </ion-input>
              <ion-icon [name]="cpasswordIcon" color="light" size="small" (click)='hideShowcPassword()'
                class="ion-align-self-end" slot="end">
              </ion-icon>
            </ion-item>
            <div class="error"
              *ngIf="!cpwdErrMessage && signupFg.controls['confirmpassword'].errors?.required && (signupFg.get('confirmpassword').touched || f.submitted)">
              Confirm Password is Required.</div>
            <div class="error" *ngIf="!cpwdErrMessage && signupFg.controls['confirmpassword'].errors?.pattern &&
                (signupFg.get('confirmpassword').touched || f.submitted)">
              Confirm Password must be a capital letter, a lowercase letter, a special letter, a numeric value.</div>
            <div class="error" *ngIf="cpwdErrMessage &&
                (signupFg.get('confirmpassword').touched || f.submitted)">
              {{cpwdErrMessage}}</div>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col align-self-center>
            <img [src]="currentImage" *ngIf="currentImage" style="height: 100px; width:100px;">
            <ion-button ion-fab (click)="uploadImage()" required expand="block" color="yellow" size="medium" btn-yellow
              class="mt-0">Upload Image
              &emsp;<ion-icon name="camera"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col align-self-center class="col-padd">
            <ion-button type="submit" (click)="signupFunction()" expand="block" color="btn-yellow btn-height"
              size="large" btn-yellow class="mt-15">Send OTP
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>