ion-title {
  color: #000;
  font-family:'Poppins', sans-serif;
}

ion-back-button {
  color: #000;
}
.bton-group input {
  display: none;
}


ion-select {
  position: relative;
  bottom: 1px;
  margin-bottom: 1rem;
}
ion-label{
  font-family:'Poppins', sans-serif;
}
.details {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--ion-color-yellow);//#F6C762;
  font-size:14px;
}

.gender {
  color: #616161;
  font-weight: 500;
}

.bton{
  background: #1e1e1e;
  border: 1px solid #616161;
  padding: 6px 13px;
  height: 40px;
  cursor: pointer;
  border-radius: 0;
  color: #616161;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
}
.bton-group input:checked + label,
.bton-group input:checked + label:active {
background-color: var(--ion-color-yellow);//#F6C762;
color: #030303;
}

  // .btn_cam1 {
  //     padding: 0px 13px 0px 13px !important;
  //     margin: 0;
  //     background-color: #F6C762;
  //     color: #030303;
  //     height: 2.5rem;
  //     .ion-icon {
  //         margin: 0;
  //         padding: 0;
  //         font-size: 7px
  //     }
  // }
  .selected-gender {
      background: var(--ion-color-yellow);//#F6C762;
      border: solid 1px;
     //border-color: var(--ion-color-primary);
      color: rgb(0, 0, 0);
      padding: 8px 0px;
      font-size: 12px;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;
    }
    .not-selected-gender {
      padding: 8px 0px;
      border: solid 1px;
      border-color: #c5c5c5;
      color: #ffffff;
      font-size: 12px;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;
    }
    .error{
      color: #d39e00;
      font-size: 12px;
  }
  .gend{
      margin-left: 0.3rem;
    }

    h5 {
      font-weight: lighter !important;
      font-size: 1em !important;
      color: var(--ion-color-light);
  }

  .btn-height {
    height: 85%;
    border-radius: 10px;
}
.col-padd {
    padding: 15px 25px;
}