<ion-content>
    <ion-list class="ion-no-padding">
        <!-- <ion-img-viewer title="Image Preview" text="Photo by Mayur Gala on Unsplash" [src]="imgUrl" scheme="dark"></ion-img-viewer> -->
        <ion-img *ngIf="data.image_video == 'IMAGE'" [src]="data.upload_image" class="img_size"></ion-img>
        <div class="video-player" *ngIf="data.image_video == 'VIDEO'">
            <video [poster]="data.upload_thump" controls playsinline webkit-playsinline preload="auto" muted="true"
                crossorigin controlsList="nodownload">
                <source [src]="data.upload_image"  />
            </video>
        </div>
        <ion-buttons back_funct slot="start">
            <ion-back-button color="white" [defaultHref]="backUrl"></ion-back-button>
        </ion-buttons>
        <!-- <ion-fab fab-zoom-2 *ngIf="data.image_video == 'VIDEO'" >
            <ion-fab-button (click)="FileInformationAlert()" color="light">
                <ion-icon name="information"></ion-icon>
            </ion-fab-button>
        </ion-fab> -->
        <!-- <ion-fab fab-share >
            <ion-fab-button color="yellow">
                <ion-icon name="share-social-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
                <ion-fab-button (click)="twitterShare()" color="light">
                    <ion-icon name="logo-twitter"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="instagramShare()" color="light">
                    <ion-icon name="logo-instagram"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="facebookShare()" color="light">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab> -->
        <!-- <ion-fab fab-zoom *ngIf="data.image_video == 'IMAGE'"   >
            <ion-fab-button (click)="openViewer(data.upload_image,data.city)" color="light">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab> -->
        <!-- <ion-fab fab-zoom-1 *ngIf="data.image_video == 'IMAGE'">
            <ion-fab-button (click)="FileInformationAlert()" color="light">
                <ion-icon name="information"></ion-icon>
            </ion-fab-button>
        </ion-fab> -->
        <!-- <ion-fab vertical="center" horizontal="end" >
            <ion-fab-button class="paddng">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab> -->

<!-- Share -->

        <!-- <ion-fab vertical="top" class="fab-post-top" horizontal="end" slot="fixed">
            <ion-fab-button class="paddng" color="yellow">
                <ion-icon name="share-social-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
                <ion-fab-button (click)="twitterShare()" color="light">
                    <ion-icon name="logo-twitter"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="instagramShare()" color="light">
                    <ion-icon name="logo-instagram"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="facebookShare()" color="light">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab> -->

<!-- Share -->


        <ion-fab class="fab-post" vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button class="paddng" (click)="FileInformationAlert()" color="light">
                <ion-icon name="information"></ion-icon>
            </ion-fab-button>
            <ion-fab-button class="paddng" *ngIf="data.image_video == 'IMAGE'"
                (click)="openViewer(data.upload_image,data.city)" color="light">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
            
        </ion-fab> -->

    </ion-list>
    <ion-list class="p-0" background-text>
        <ion-item class="ion-text-center item-shadow" lines="none" header-menu>
            <ion-label class="m-0 mediashare">
                Tags
            </ion-label>
        </ion-item>
    </ion-list>
    <!-- <ion-list header-menu class="categories">
        <div class="un-selected" *ngFor="let category of categories">
            <ion-label class="ion-text-center p-2">
                {{category}}
            </ion-label>
        </div>
    </ion-list> -->
    <!-- <div class="shadow p-3 m-2 comments">
            <h5>Comments</h5>
            <p *ngIf="!data.img_comments"> No comments found
            </p>
            <p *ngIf="data.img_comments"> {{data.img_comments}}
            </p>
        </div> -->
    <div class="shadow m-2 comments">
        <ion-label class="p-3 breadcrumbs-font"><small
                *ngIf="data.img_categ && data.img_categ!=undefined">{{data.img_categ}} ></small> <small
                *ngIf="data.level1Val && data.level1Val!=undefined">{{data.level1Val}} > </small> <small
                *ngIf="data.level2Val && data.level2Val!=undefined">{{data.level2Val}} > </small> <small
                *ngIf="data.level3Val && data.level3Val!=undefined">{{data.level3Val}}</small></ion-label>
        <ion-grid>
            <div *ngIf="level4Val_Value!=[]">
                <ion-row *ngFor="let level4Values of level4Val_Value">
                    <ion-col size="4" class="gray-bc border-top"
                        *ngIf="level4Values.labelValue && level4Values.labelValue!=undefined">
                        <ion-label>{{level4Values.labelName}}</ion-label>
                    </ion-col>
                    <ion-col size="8" class="border-top"
                        *ngIf="level4Values.labelValue && level4Values.labelValue!=undefined">
                        <ion-label>{{level4Values.labelValue}}</ion-label>
                    </ion-col>
                </ion-row>
            </div>
            <ion-row *ngIf="data.tags && data.tags!=undefined && data.tags!=null && data.tags!='null'">
                <ion-col size="4" class="gray-bc border-top">
                    <ion-label>#Tags</ion-label>
                </ion-col>
                <ion-col size="8" class="border-top">
                    <ion-label>{{data.tags}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="data.colorVal && data.colorVal!=undefined">
                <ion-col size="4" class="gray-bc border-top">
                    <ion-label>Color</ion-label>
                </ion-col>
                <ion-col size="8" class="border-top">
                    <ion-label>{{data.colorVal}}</ion-label>
                </ion-col>
            </ion-row>
            <!-- <ion-row *ngIf="data.swatch && data.swatch!=undefined">
                <ion-col size="4" class="gray-bc border-top">
                    <ion-label>Swatch</ion-label>
                </ion-col>
                <ion-col size="8" class="border-top">
                    <ion-label>{{data.swatch}}</ion-label>
                </ion-col>
            </ion-row> -->
        </ion-grid>
        <br>
        <!-- <ion-grid *ngIf="data.image_video && data.image_video=='IMAGE'">
            <ion-row *ngIf="fileinfo.fileName && fileinfo.fileName!=undefined">
                <ion-col size="5">
                    <small><b>File Name :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.fileName}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.time && fileinfo.time!=undefined">
                <ion-col size="5">
                    <small><b>Time :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.time}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.resolution && fileinfo.resolution!=undefined">
                <ion-col size="5">
                    <small><b>Resolution :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.resolution}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.size && fileinfo.size!=undefined">
                <ion-col size="5">
                    <small><b>Size :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.size}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.device && fileinfo.device!=undefined">
                <ion-col size="5">
                    <small><b>Device :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.device}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.model && fileinfo.model!=undefined">
                <ion-col size="5">
                    <small><b>Model :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.model}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.flash && fileinfo.flash!=undefined">
                <ion-col size="5">
                    <small><b>Flash :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.flash}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.whiteBalance && fileinfo.whiteBalance!=undefined">
                <ion-col size="5">
                    <small><b>White Blance :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.whiteBalance}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.iso && fileinfo.iso!=undefined">
                <ion-col size="5">
                    <small><b>ISO :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.iso}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.orientation && fileinfo.orientation!=undefined">
                <ion-col size="5">
                    <small><b>Orientation :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.orientation}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="data.location && data.location!=undefined">
                <ion-col size="5">
                    <small><b>Location :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{data.location?data.location:'No location found'}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="latitude">
                <ion-col size="5">
                    <small><b>Latitude :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{latitude}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="longitude">
                <ion-col size="5">
                    <small><b>Longitude :</b></small>
                </ion-col>
                <ion-col size="7">

                    <small>{{longitude}}</small>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="data.image_video && data.image_video=='VIDEO'">
            <ion-row *ngIf="fileinfo.fileName && fileinfo.fileName!=undefined">
                <ion-col size="5">
                    <small><b>File Name :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.fileName}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.time && fileinfo.time!=undefined">
                <ion-col size="5">
                    <small><b>Time :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.time}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.resolution && fileinfo.resolution!=undefined">
                <ion-col size="5">
                    <small><b>Resolution :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.resolution}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fileinfo.size && fileinfo.size!=undefined">
                <ion-col size="5">
                    <small><b>Size :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{fileinfo.size}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="data.location && data.location!=undefined && data.location!='undefined'">
                <ion-col size="5">
                    <small><b>Location :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{data.location?data.location:'No location found'}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="latitude">
                <ion-col size="5">
                    <small><b>Latitude :</b></small>
                </ion-col>
                <ion-col size="7">
                    <small>{{latitude}}</small>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="longitude">
                <ion-col size="5">
                    <small><b>Longitude :</b></small>
                </ion-col>
                <ion-col size="7">

                    <small>{{longitude}}</small>
                </ion-col>
            </ion-row>
        </ion-grid> -->
    </div>
</ion-content>