[background] {
    margin: 0 -15px;
    ion-content {
        // --background: #525252;
        ion-button {
            font-size: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
[background-text] {
    margin: 0; 
    background: var(--ion-color-yellow);
    text-align: center;
}
[ion-col-height] {
    width: 100%;
    height: 170px;
    max-height: 250px;
    z-index: 100;
}
//example
.categories {
    // background: #292927;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // margin: 25pt 0;
    div {
        margin: 5px;
        border-radius: 30px;
        // width: 90px;
        // height: 40px;
    }
}
.un-selected {
    background-color: #ffffff;
    border: #ffffff 2px solid;
    color: #000000;
    font-size: 11px;
}
.selected {
    background-color: var(--ion-color-yellow); //#F6C762;
    color: #000000;
    border: var(--ion-color-yellow); //#F6C762 2px solid;
}
ion-content {
    --background: #292927;
}
.video-player {
    background: #1f1e1d;
    width: 100%;
    height: 300px!important;
    video {
        width: 100%;
        height: 300px!important;
        position: absolute;
    }
}
.img-preview {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.img_size {
    width: 100%;
    object-fit: cover!important;
    object-position: center;
    background-color: lighten(white, 70%);
    height: 300px;
}
[back_funct] {
    position: absolute;
    top: 10px;
    z-index: 999;
}
[role_funct] {
    position: absolute;
    bottom: 10px;
    z-index: 999;
    p {
        color: var(--ion-color-white);
    }
    h3 {
        font-weight: bolder !important;
        font-size: 1.2em !important;
        color: var(--ion-color-yellow);
    }
}
.margin-rl {
    margin: 0 15px;
}
.mediashare {
    margin: 5px 0px 0px !important;
    font-weight: bolder;
}
.comments {
    p {
        font-size: 11px;
    }
    background-color: #ffffff !important;
    border-left: 9px solid var(--ion-color-yellow); // #f6c762eb;
    opacity: 0.9;
}
.item-shadow {
    --box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.fab-zoom,.fab-zoom-ios {
    bottom: 150px;
    right: calc(20px + var(--ion-safe-area-right, 0px));
    ion-fab-button {
        width: 40px;
        height: 40px;
    }
}
[fab-zoom-1] {
    bottom: 30px;
    right: calc(20px + var(--ion-safe-area-right, 0px));
    ion-fab-button {
        width: 40px;
        height: 40px;
    }
}
[fab-zoom-2] {
    bottom: 150px;
    right: calc(20px + var(--ion-safe-area-right, 0px));
    ion-fab-button {
        width: 40px;
        height: 40px;
    }
}

[fab-share] {
    bottom: 90px;
    right: calc(20px + var(--ion-safe-area-right, 0px));
    ion-fab-button {
        width: 40px;
        height: 40px;
    }
}
.pad {
    padding: 10px 15px 10px;
    p {
        margin-bottom: 0px;
    }
}
ion-grid {
    ion-label {
        font-size: 15px;
    }
    ion-col {
        border-bottom: 0.5px solid #2929271a;
        padding: 8px;
    }
}
.gray-bc {
    background: #2929271f;
}
.border-top {
    border-top: 0.5px solid #2929271a;
}
.breadcrumbs-font {
    font-size: 18px;
}
.paddng{
    margin: 10px 0px;
    height: 40px;
    width: 45px;
}
.fab-post-top{
    margin-top: 50px;
}
.fab-post{
    margin-top: 20px;
}