<ion-header>
  <ion-toolbar color="yellow" mode="md">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crop & Orientation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <ion-row>
    <ion-col>
      <image-cropper #imgcropper
              [imageBase64]="imageBase64"
              [maintainAspectRatio]="maintainAspectRatio"
              [aspectRatio]="9 / 16"
              [resizeToWidth]="0"
              format="jpeg"
              (imageCropped)="imageCropped($event)"
              [canvasRotation]="canvasRotation"
              [transform]="transform"
              [alignImage]="'left'"
              [style.display]="showCropper ? null : 'none'"
              (imageLoaded)="imageLoaded()"
              [hideResizeSquares]="true">

      </image-cropper>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="yellow" mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="rotateLeft()">
        <ion-icon slot="icon-only" name="reload" class="reloadLeftTransform"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="rotateRight()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="flipHorizontal()">
        <ion-icon slot="icon-only" name="swap-horizontal"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="toggleMaintainAspectRatio()">
        <ion-icon slot="icon-only" name="contract" *ngIf="maintainAspectRatio == false"></ion-icon>
        <ion-icon slot="icon-only" name="expand" *ngIf="maintainAspectRatio == true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" fill="clear"
                  [disabled]="!imageBase64"
                  (click)="dismissModal(croppedImageBase64)">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
