.content-background {

    --background: #1f1e1d;


    image-cropper{
        --background: #1f1e1d;
        --cropper-overlay-color:#1f1e1d; 
        --cropper-outline-color: none;
        align-items: center;
        height: calc(100vh - 117px);
        .cropper{
            .move{
                border: 1px solid rgb(255, 224, 0)!important;
            }
        }
    }


}

.reloadLeftTransform{
    transform: scaleX(-1);
}