.medium-fnt{
    font-size: medium;
}


.app-loader {
    margin-top: 50vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
  }
  
  .global-loader-container {
    position: absolute;
    z-index: 1;
    top: -45px;
    height: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 50px;
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .global-loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin-left: -50px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .global-loader .ring {
    border-radius: 50%;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    top: 50%;
    left: 50%;
  }
  .global-loader .ring:nth-child(1) {
    border-color: transparent #ff8a50 #ff8a50 transparent;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    -webkit-animation: loader-ring 1s ease-in 0s infinite;
    animation: loader-ring 1s ease-in 0.2s infinite;
  }
  .global-loader .ring:nth-child(2) {
    border-color: transparent #ffc930 #ffc930 transparent;
    width: 66px;
    height: 66px;
    margin-left: -33px;
    margin-top: -33px;
    -webkit-animation: loader-ring 1s ease-in -0.1s infinite;
    animation: loader-ring 1s ease-in 0.1s infinite;
  }
  .global-loader .ring:nth-child(3) {
    border-color: transparent #8cd9d6 #8cd9d6 transparent;
    width: 84px;
    height: 84px;
    margin-left: -42px;
    margin-top: -42px;
    -webkit-animation: loader-ring 1s ease-in -0.2s infinite;
    animation: loader-ring 1s ease-in 0s infinite;
  }
  
  @-webkit-keyframes loader-ring {
    0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    30% {
      -webkit-transform: rotate(170deg);
      -ms-transform: rotate(170deg);
      transform: rotate(170deg);
    }
    70% {
      -webkit-transform: rotate(190deg);
      -ms-transform: rotate(190deg);
      transform: rotate(190deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      -ms-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes loader-ring {
    0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    30% {
      -webkit-transform: rotate(170deg);
      -ms-transform: rotate(170deg);
      transform: rotate(170deg);
    }
    70% {
      -webkit-transform: rotate(190deg);
      -ms-transform: rotate(190deg);
      transform: rotate(190deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      -ms-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  .cursor {
    cursor: pointer;
  }

