<ion-menu *ngIf="loggedDetails.stud_name != null" side="end" menuId="first" contentId="main">
    <ion-header class="h-20">
        <ion-toolbar class="h-100" color="dark">
            <ion-img src="../../assets/image/logo-removebg.png" class="my-4 mx-auto w-50"></ion-img>
        </ion-toolbar>
    </ion-header>
    <ion-content color="yellow">
        <ion-list header-menu>
            <ion-item header-menu lines="none">
                <ion-avatar slot="start">
                    <img [src]="loggedDetails.upload_image">
                </ion-avatar>
                <ion-label>
                    <h3 font-header class="ion-text-capitalize">{{loggedDetails.stud_name}}</h3>
                    <p font-medium>{{city}}</p>
                </ion-label>
            </ion-item>
            <hr width="70%">
            <ion-item header-menu lines="none" (click)="toggleMenu('home')">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="home-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; Home
                </ion-label>
            </ion-item>
            <ion-item header-menu (click)="toggleMenu('profile')" lines="none">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="person-circle-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; My Account
                </ion-label>
            </ion-item>
            <ion-item (click)="toggleMenu('resourses-videos')" header-menu lines="none">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="laptop-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; Resources
                </ion-label>
            </ion-item>
            <ion-item (click)="toggleMenu('trendspotter')" header-menu lines="none">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="trending-up-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; Trend Spotters
                </ion-label>
            </ion-item>
            <ion-item (click)="toggleMenu('uploadedimages')" header-menu lines="none">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="images-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; Uploaded Images
                </ion-label>
            </ion-item>
            <ion-item (click)="toggleMenu('uploadedvideos')" header-menu lines="none">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="albums-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; Uploaded Videos
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()" header-menu lines="none">
                <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="log-out-outline"></ion-icon>
                <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">
                    &nbsp; Logout
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-no-border">
            <ion-item header-menu lines="none">
                <ion-label color="dark" class="medium-fnt">
                    Support <br><a><small color="blue">visionxt@nift.ac.in</small></a>
                </ion-label>
            </ion-item>
            <ion-router-link (click)="toggleMenu('')" slot="end" class="ion-margin-end">
                <ion-item header-menu lines="none">
                    <ion-icon color="dark" class="medium-fnt ion-text-capitalize" name="chevron-back-outline">
                    </ion-icon>
                    <ion-label color="dark cursor" class="medium-fnt ion-text-capitalize">Back</ion-label>
                </ion-item>
            </ion-router-link>
        </ion-toolbar>
    </ion-footer>
</ion-menu>
<ion-app>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>