.notification-popup-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .close-icon{
    position: absolute;
    right: 5px;
    font-size: 25px;
    cursor: pointer;
    top: -15px;
    background: #ffd700;
    border-radius: 50%;
    padding: 2px;
    z-index: 1111;
  }
    ion-img{
      padding: 0px 20px;
      position: relative;
      &:after{
        content: '';
        position: absolute;

      }
    }
}

.toolbarContent{
  position: absolute;
}

.imgContent{
  position: absolute;
}