<div class="notification-popup-container">
      <ion-icon name="close-circle-outline" *ngIf="imageContent" class="close-icon" (click)="dismiss()"></ion-icon>
      <ion-img class="imgContent" *ngIf="imageContent" width="100%" height="100%" [src]="imageContent"></ion-img>
</div>