<ion-header translucent no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="overflow-y: hidden;">
  <div class="inner-div">

      <ion-grid>
          <ion-row>
            <ion-col size="1"></ion-col>
              <ion-col align-self-center>
                  <ion-img src="../../assets/image/VidioNxtLogo.png" class="mx-auto mt-3 w-45"></ion-img>
              </ion-col>
              <ion-col size="1"></ion-col>
          </ion-row>
          <ion-card class="card ion-padding" align-self-center>
              
                <p class="start">Please read these <b>Terms and Conditions</b> carefully before using this mobile application. we have send an OTP to ur Msite and all contents are intended for personal and non-commercial use.
                (the "Service") operated by <b>visionxt</b> .Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. 
                These Terms apply to all visitors, users and others who access or use the Service.</p>
                <p class="middle">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
                <p class="start">Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material. You are responsible for the 
                The Content section is for businesses that allow users to create, edit, share, make content on their websites or apps. For the full disclosure section, create your own <b>Terms and Conditions</b>.</p>
                <p class="start">Our Service may contain links to third-party web sites or services that are not owned or controlled by <b>visionxt</b>.<br>
                  visionxt has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. 
                  You further acknowledge and agree that <b>visionxt</b> shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be 
                  caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>                   
                <p class="start">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' 
                  notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
                <p class="start">If you have any questions about these Terms, please contact us.</p>
            
          </ion-card>

          <ion-row>
           <ion-col class="butn ion-justify-content-center"  >
             <ion-button (click)="signupFunction()" expand="block" color="yellow  btn-1" size="medium" btn-yellow >Agree</ion-button>
           </ion-col>
           <ion-col class="butn ion-justify-content-center" >
             <ion-button (click)="declineAlert()" expand="block" color="transparent" size="medium" class="btn-2" >Decline</ion-button>
           </ion-col>
          </ion-row>

      </ion-grid>
      </div>
    </ion-content>