
.btn-1 {
    background: #212721;
    --border-radius: 30px;
}
.btn-2 {
    border: 1px solid #fff;
    border-radius: 30px;
}

ion-title {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.mt-10 {
    font-family: 'Poppins', sans-serif;
}

ion-back-button {
    color: #000;
}

.butn {
    display: flex;
    // position: relative;
    // left: 0.8rem;
}

.card {
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--ion-color-yellow);//#F6C762;
    color: #000;
    overflow-y: scroll;
    height: 420px;
    text-align: justify;
}

.start {
    font-size: 12px;
}

.middle {
    font-size: 12px;
    font-weight: bold;
}