[ion-col-height] {
    width: 100%;
    height: 150px;
    // ion-content {
    //     --background: #525252;
    //     ion-button {
    //         font-size: 30px;
    //         position: absolute;
    //         left: 50%;
    //         top: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    // }
}

[font-small] {
    // font-size: 12px!important;
    font-weight: bold !important;
    --border-radius: 0px;
}

[margin-1] {
    margin: 1.5rem;
}

.icon {
    display: flex;
    font-size: 45px;
    color: #ffC977;
    vertical-align: middle;
}

// .video-player {
//     background: #1f1e1d;
//     width: 100%;
//     height: 100%;
//     video {
//         width: 100%;
//         height: 100%;
//         position: absolute;
//     }
// }
.video_tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    // border-radius: 10px;
}

.black-bg {
    background: #000000db!important;
    // color: #ffffff;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 20%;
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        background: var(--ion-color-yellow); //#f6c762;
        padding: 10px;
        position: absolute;
        bottom: 0;
        text-overflow: ellipsis;
        /* width: 128%; */
    }
}
// .videoicon{
//     font-size: 60px;
//     color: white;
//     margin: 45px 65px;
// }
ion-content {
    --background: #212721;
}

.videoicon{
    // font-size: 60px;
    // color: white;
    // margin: 25% 25%;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    opacity: 1;
    }

    .vdo-title{
        position: absolute;
    }