<app-header>

</app-header>
<ion-content>
    <div class="inner-div">
        <ion-grid>
            <ion-row class="ion-text-center mt-3 mb-2">
                <ion-col>
                    <h5 header-text>Resources</h5>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="resourceList.length == 0">
                <ion-col>
                    <ion-card class="ion-margin-vertical">
                        <ion-card-content>
                            No Record Found
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="resourceList.length > 0">
                <ion-col size="6" (click)="play(vdo.filename)" *ngFor="let vdo of resourceList;">
                    <div ion-col-height>
                        <ion-content>
                            <video poster="../../assets/image/poster1.jpg" preload="auto" crossorigin class="video_tag">
                                <source [src]="vdo.filename" type="">
                            </video>
                            <!-- <ion-item class="fs-12 black-bg" black-bg fill="clear">
                                <ion-icon name="play-circle-outline"></ion-icon> &nbsp; {{vdo.filetitle}}
                            </ion-item> -->
                            <!-- <ion-icon name="play-circle-outline" class="videoicon"></ion-icon> -->
                            <div class="vdo-title">
                                <b>
                                    <ion-text color="dark">{{vdo.filetitle}}</ion-text>
                                </b>
                            </div>
                            <div class="overlay">
                                <ion-icon name="play-circle-outline" class="videoicon"></ion-icon>
                            </div>
                        </ion-content>
                    </div>
                    <!-- <ion-content>
                        <video poster="" preload="auto" crossorigin class="video_tag">
                            <source [src]="vdo.filename" type="">
                        </video>
                        <ion-item class="fs-12 black-bg"  fill="clear">
                            <ion-icon name="play-circle-outline"></ion-icon> <span> &nbsp; {{vdo.filetitle}}</span>
                        </ion-item>
                    </ion-content> -->
                    <!-- <ion-content>
                        <ion-button class="ion-justify-content-around" tappable fill="clear" (click)="play(vdo.filename)">
                            <ion-icon color="white" name="play-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-content> -->
                </ion-col>

            </ion-row>
            <!-- <ion-row>
                <ion-col ion-col-height>
                    <ion-content>
                        <ion-button class="ion-justify-content-around" tappable fill="clear" (click)="play()">
                            <ion-icon color="white" name="play-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-content>
                </ion-col>
                <ion-col ion-col-height>
                    <ion-content>
                        <ion-button class="ion-justify-content-around" tappable fill="clear" (click)="play()">
                            <ion-icon color="white" name="play-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-content>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col ion-col-height>
                    <ion-content>
                        <ion-button class="ion-justify-content-around" tappable fill="clear" (click)="play()">
                            <ion-icon color="white" name="play-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-content>
                </ion-col>
                <ion-col ion-col-height>
                    <ion-content>
                        <ion-button class="ion-justify-content-around" tappable fill="clear" (click)="play()">
                            <ion-icon color="white" name="play-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-content>
                </ion-col>
            </ion-row> -->
        </ion-grid>
    </div>
</ion-content>
<ion-toolbar color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button tab="share" [routerLink]="['/home']">
                <ion-icon name="home-outline"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>
            <!-- <ion-tab-button tab="camera">
                <ion-icon name="bookmark"></ion-icon>
                <ion-label>Bookmark</ion-label>
            </ion-tab-button> -->

            <!-- <ion-tab-button [routerLink]="['/search']">
                <ion-icon name="search-outline"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button> -->

            <!-- <ion-tab-button tab="share">
                <ion-icon name="share-social-outline"></ion-icon>
                <ion-label>Share</ion-label>
            </ion-tab-button> -->
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>