<app-header></app-header>
<ion-content>
    <form [formGroup]="imageUploadForm">
        <ion-item background>
            <div>
                <div class="video-player1" *ngIf="type == 'video'">
                    <video #videoElement id="videoElement" [poster]="posterImage" controls playsinline
                        controlsList="nodownload" webkit-playsinline preload="auto" muted="true" crossorigin>
                        <source [src]="mediaPath" />
                    </video>
                </div>
                <img *ngIf="type == 'image'" id="image" #imageSrc [src]="mediaURL" class="img-preview" />
                <ion-fab fab-zoom *ngIf="type == 'image'" horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button (click)="openViewer()" color="light">
                        <ion-icon name="search"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>
        </ion-item>

        <ion-row class="progress-breadcrumbs-padding">
            <ion-progress-bar class="progress" color="warning" [value]="progressValue"></ion-progress-bar>
        </ion-row>
        <ion-row class="progress-breadcrumbs-padding">
            <ion-label style="display: inline-block; color: #fff; font-size: 15px; font-weight: bold;"
                *ngFor="let crumb of breadCrumbFieldsArray">
                {{crumb.val!=null && crumb.val!=''?(crumb.val +'>'):''}}
            </ion-label>
        </ion-row>
        <ion-row class="tab_bar">
            <!-- <ion-toolbar> -->
            <!-- <ion-tabs> -->
            <!-- <ion-tab-bar> -->
            <ion-tab-button
                [ngStyle]="{'background-color': activeTab==root.sno ? '#rgb(41 41 39)' : '#rgb(41 41 39)', 'border-bottom': activeTab==root.sno ? '2px solid rgb(255 215 0)' : 'rgb(41 41 39)' }"
                *ngFor="let root of rootList" (click)="getLevel1List(root.sno,root.categ_name)">
                <ion-label [ngStyle]="{'color': activeTab==root.sno ? 'rgb(255 215 0)' : 'white'}"
                    style="margin-bottom: 13px">
                    {{root.categ_name}}</ion-label>
            </ion-tab-button>
            <!-- </ion-tab-bar> -->
            <!-- </ion-tabs> -->
            <!-- </ion-toolbar> -->
        </ion-row>
        <ion-row style="margin-bottom: -15px;">
            <ion-col size="4">
                <ion-item class="cat-dropdown"
                    [ngClass]="imageUploadForm.get('level1Val').value?'border-yellow':(imageUploadForm.get('level1Val').dirty || imageUploadForm.get('level1Val').touched?'border-red':'')">
                    <!-- <ion-label style="display:none">Select Option</ion-label> -->
                    <ion-select interface="popover" class="ion-slct-1" placeholder="Add tag" formControlName="level1Val"
                        (ionChange)="getLevel2List()">
                        <ion-select-option [value]="level1.sno" *ngFor="let level1 of level1List" appNoArrow>
                            {{level1.categ_name}}
                        </ion-select-option>
                    </ion-select>
                    <!-- <small *ngFor="let validation of validationMessages.level1Val">
                        <span class="error"
                            *ngIf="imageUploadForm.get('level1Val').hasError(validation.type) && (imageUploadForm.get('level1Val').dirty || imageUploadForm.get('level1Val').touched)">
                            {{ validation.message }}
                        </span>
                    </small> -->
                    <div class="arrow row" slot="end">
                        <ion-icon class="up-arrow" name="caret-up-sharp"></ion-icon>
                        <ion-icon class="down-arrow" name="caret-down-sharp"></ion-icon>
                    </div>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item class="cat-dropdown"
                    [ngClass]="imageUploadForm.get('level2Val').value?'border-yellow':(imageUploadForm.get('level2Val').dirty || imageUploadForm.get('level2Val').touched?'border-red':'')">
                    <!-- <ion-label style="display:none">Select Option</ion-label> -->
                    <ion-select interface="popover" class="ion-slct-1" placeholder="Add tag" formControlName="level2Val"
                        (ionChange)="getLevel3List()" appNoArrow>
                        <ion-select-option [value]="level2.sno" *ngFor="let level2 of level2List">
                            {{level2.categ_name}}
                        </ion-select-option>
                    </ion-select>
                    <div class="arrow row" slot="end">
                        <ion-icon class="up-arrow" name="caret-up-sharp"></ion-icon>
                        <ion-icon class="down-arrow" name="caret-down-sharp"></ion-icon>
                    </div>
                    <!-- <small *ngFor="let validation of validationMessages.level2Val">
                        <span class="error"
                            *ngIf="imageUploadForm.get('level2Val').hasError(validation.type) && (imageUploadForm.get('level2Val').dirty || imageUploadForm.get('level2Val').touched)">
                            {{ validation.message }}
                        </span>
                    </small> -->
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item class="cat-dropdown"
                    [ngClass]="imageUploadForm.get('level3Val').value?'border-yellow':(imageUploadForm.get('level3Val').dirty || imageUploadForm.get('level3Val').touched?'border-red':'')">
                    <!-- <ion-label style="display:none">Select Option</ion-label> -->
                    <ion-select interface="popover" class="ion-slct-1" placeholder="Add tag" formControlName="level3Val"
                        (ionChange)="getDynamicFormControlList()" appNoArrow>
                        <ion-select-option [value]="level3.sno" *ngFor="let level3 of level3List">
                            {{level3.categ_name}}
                        </ion-select-option>
                    </ion-select>
                    <div class="arrow row" slot="end">
                        <ion-icon class="up-arrow" name="caret-up-sharp"></ion-icon>
                        <ion-icon class="down-arrow" name="caret-down-sharp"></ion-icon>
                    </div>
                    <!-- <small *ngFor="let validation of validationMessages.level3Val">
                        <span class="error"
                            *ngIf="imageUploadForm.get('level3Val').hasError(validation.type) && (imageUploadForm.get('level3Val').dirty || imageUploadForm.get('level3Val').touched)">
                            {{ validation.message }}
                        </span>
                    </small> -->
                </ion-item>
            </ion-col>
        </ion-row>

        <div formArrayName="level4Val">
            <ion-row *ngFor="let formarray of imageUploadForm.get('level4Val').controls;let i=index;"
                [formGroupName]="i">
                <ion-col *ngIf="focused==i" size="1" class="col-text-icon col-border">
                    <ion-icon name="cafe-sharp"></ion-icon>
                </ion-col>
                <ion-col *ngIf="focused!=i" size="1" class=""></ion-col>
                <ion-col *ngIf="focused!=i" size="4" class="col-text-white">
                    <ion-label>{{formarray.get('labelName').value}}</ion-label>
                </ion-col>
                <ion-col *ngIf="focused==i" size="4" class="col-text-yellow">
                    <ion-label>{{formarray.get('labelName').value}}</ion-label>
                </ion-col>
                <ion-col size="7" style="margin-bottom: -16px;" *ngIf="formarray.get('ctrlType').value =='ddl'">
                    <ion-item class="cat-dropdown"
                        [ngClass]="formarray.get('labelValue').value?'border-yellow':(formarray.get('labelValue').dirty || formarray.get('labelValue').touched?'border-red':'')">
                        <!-- <ion-label style="display:none">select option</ion-label> -->
                        <ion-select interface="popover" class="ion-slct-2" placeholder="Add tag"
                            formControlName="labelValue" (ionFocus)="focused=i"
                            (ionChange)="progressBarAndBreadCrumb(formarray.get('labelName').value,formarray.get('labelValue').value,i+5)"
                            appNoArrow>
                            <ion-select-option [value]="list.categ_name"
                                *ngFor="let list of formarray.get('categList').value">
                                {{list.categ_name}}
                            </ion-select-option>
                            <!-- <small *ngFor="let validation of validationMessages.colorVal">
                                <span class="error"
                                    *ngIf="formarray.get('labelValue').hasError(validation.type) && (formarray.get('labelValue').dirty || formarray.get('labelValue').touched)">
                                    {{ validation.message }}
                                </span>
                            </small> -->
                        </ion-select>
                        <div class="arrow row" slot="end">
                            <ion-icon class="up-arrow" name="caret-up-sharp"></ion-icon>
                            <ion-icon class="down-arrow" name="caret-down-sharp"></ion-icon>
                        </div>
                    </ion-item>
                </ion-col>
                <ion-col size="7" *ngIf="formarray.get('ctrlType').value =='chk'" class="col-mr"
                    [ngClass]="checkboxValidation[i].borderColor=='red'?'border-red':(checkboxValidation[i].borderColor=='yellow'?'border-yellow':'border-white')">
                    <ion-item *ngFor="let list of formarray.get('categList').value;let j=index;" class="chk-item">
                        <ion-label>{{list.categ_name}}</ion-label>
                        <ion-checkbox slot="end" [checked]="list.status" color="yellow"
                            (ionChange)="checkbox(i,j,$event.target.checked);progressBarAndBreadCrumb(formarray.get('labelName').value,formarray.get('labelValue').value,i+5);focused=i">
                        </ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>

        <!-- <ion-row *ngIf="imageUploadForm.get('level4Val').controls.length!=0" class="">
            <ion-col *ngIf="focused=='color'" size="1" class="col-text-icon col-border">
                <ion-icon name="cafe-sharp"></ion-icon>
            </ion-col>
            <ion-col *ngIf="focused!='color'" size="1"></ion-col>
            <ion-col *ngIf="focused!='color'" size="4" class="col-text-white">
                <ion-label>Color</ion-label>
            </ion-col>
            <ion-col *ngIf="focused=='color'" size="4" class="col-text-yellow">
                <ion-label>Color</ion-label>
            </ion-col>
            <ion-col size="7" style="margin-bottom: -16px;">
                <ion-item class="cat-dropdown">
                    <ion-input type="text" formControlName="colorVal" (ionFocus)="focused='color'" debounce="1000"
                        (ionChange)="progressBarAndBreadCrumb('colorVal',imageUploadForm.get('colorVal').value,imageUploadForm.get('level4Val').controls.length+5)"
                        required>
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row> -->
        <ion-row *ngIf="imageUploadForm.get('level4Val').controls.length!=0" style="margin-bottom: 3px;">
            <ion-col *ngIf="focused=='swatch'" size="1" class="col-text-icon col-border">
                <ion-icon name="cafe-sharp"></ion-icon>
            </ion-col>
            <ion-col *ngIf="focused!='swatch'" size="1"></ion-col>
            <ion-col *ngIf="focused!='swatch'" size="4" class="col-text-white">
                <ion-label>Color</ion-label>
            </ion-col>
            <ion-col *ngIf="focused=='swatch'" size="4" class="col-text-yellow">
                <ion-label>Color</ion-label>
            </ion-col>
            <ion-col size="7" style="margin-bottom: -16px;">
                <div class="swatch-item" [cpOKButton]="true" [cpSaveClickOutside]="false"
                    [cpOKButtonClass]="'btn btn-primary btn-xs'" [(colorPicker)]="color" [cpCancelButton]="true"
                    [cpCloseClickOutside]="false" [cpCancelButtonClass]="'btn btn-primary btn-xs'"
                    (colorPickerSelect)="colorPickerSelect($event)" (click)="focused='swatch'">

                    <!-- <ion-icon name="color-palette-sharp" class="swatch-icon" style="margin-bottom: -3px;"
                        [style.color]="color">
                    </ion-icon> -->
                    <ion-icon name="add-sharp" class="swatch-icon" style="margin-bottom: -3px;"></ion-icon>
                    <svg width="35" height="25" viewBox="-51 0 512 512.00001" xmlns="http://www.w3.org/2000/svg"
                        [ngStyle]="{'fill': color?color:'white'}">
                        <path
                            d="m373.1875 338.714844-52.570312 35.484375 18.390624 68.878906 71.539063-47.734375zm0 0" />
                        <path d="m300.78125 228.96875-31.808594-48.214844 15.757813 59.019532zm0 0" />
                        <path
                            d="m318.371094 255.625-24.929688 16.777344 18.460938 69.152344 43.699218-29.496094zm0 0" />
                        <path d="m253.976562 280.050781 7.820313-2.375-7.820313-39.316406zm0 0" />
                        <path d="m253.976562 382.761719 33.394532-9.289063-17.332032-64.925781-16.0625 4.878906zm0 0" />
                        <path d="m295.609375 404.324219-41.632813 11.582031v69.671875l59.113282-15.78125zm0 0" />
                        <path d="m0 344.550781h222.042969v67.585938h-222.042969zm0 0" />
                        <path d="m0 444.070312h222.042969v67.929688h-222.042969zm0 0" />
                        <path
                            d="m0 0v213.097656h222.042969v-101.320312c0-61.632813-50.144531-111.777344-111.777344-111.777344zm120.464844 61.90625c13.273437 7.679688 17.824218 24.730469 10.144531 38.003906-5.148437 8.902344-14.511719 13.882813-24.121094 13.882813-4.726562 0-9.507812-1.203125-13.886719-3.734375-13.273437-7.679688-17.824218-24.730469-10.144531-38.007813 7.679688-13.273437 24.726563-17.828125 38.007813-10.148437zm0 0" />
                        <path d="m0 245.027344h222.042969v67.589844h-222.042969zm0 0" /></svg>
                    <ion-label class="swatch-label swatch-icon">Click to add swatch</ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="swatch-item-row-content" *ngIf="color && imageUploadForm.get('level4Val').controls.length!=0">
            <ion-col size="7" class=""></ion-col>
            <ion-col size="3">
                <!-- <ion-icon name="logo-tableau" class="icon-swatch" [style.color]="color"></ion-icon> -->
                <svg width="82" height="83" viewBox="0 0 82 83" fill="#ffffffa6" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16 17C16 16.4477 16.4477 16 17 16H65C65.5523 16 66 16.4477 66 17V65C66 65.5523 65.5523 66 65 66H17C16.4477 66 16 65.5523 16 65V17Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M0 17C0 16.4477 0.447715 16 1 16H10C10.5523 16 11 16.4477 11 17V17C11 17.5523 10.5523 18 10 18H1C0.447715 18 0 17.5523 0 17V17Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M71 17C71 16.4477 71.4477 16 72 16H81C81.5523 16 82 16.4477 82 17V17C82 17.5523 81.5523 18 81 18H72C71.4477 18 71 17.5523 71 17V17Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M71 64C71 63.4477 71.4477 63 72 63H81C81.5523 63 82 63.4477 82 64V64C82 64.5523 81.5523 65 81 65H72C71.4477 65 71 64.5523 71 64V64Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M0 65C0 64.4477 0.447715 64 1 64H10C10.5523 64 11 64.4477 11 65V65C11 65.5523 10.5523 66 10 66H1C0.447715 66 0 65.5523 0 65V65Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M16.9999 0.0103555C17.5522 0.00463633 18.0045 0.447691 18.0102 0.999946L18.1034 9.99946C18.1092 10.5517 17.6661 11.004 17.1138 11.0098V11.0098C16.5616 11.0155 16.1093 10.5724 16.1035 10.0202L16.0103 1.02066C16.0046 0.468402 16.4477 0.0160747 16.9999 0.0103555V0.0103555Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M16.9999 71.0104C17.5522 71.0046 18.0045 71.4477 18.0102 71.9999L18.1034 80.9995C18.1092 81.5517 17.6661 82.004 17.1138 82.0098V82.0098C16.5616 82.0155 16.1093 81.5724 16.1035 81.0202L16.0103 72.0207C16.0046 71.4684 16.4477 71.0161 16.9999 71.0104V71.0104Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M64.9999 71.0104C65.5522 71.0046 66.0045 71.4477 66.0102 71.9999L66.1034 80.9995C66.1092 81.5517 65.6661 82.004 65.1138 82.0098V82.0098C64.5616 82.0155 64.1093 81.5724 64.1035 81.0202L64.0103 72.0207C64.0046 71.4684 64.4477 71.0161 64.9999 71.0104V71.0104Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                    <path
                        d="M64.9999 0.0103555C65.5522 0.00463633 66.0045 0.447691 66.0102 0.999946L66.1034 9.99946C66.1092 10.5517 65.6661 11.004 65.1138 11.0098V11.0098C64.5616 11.0155 64.1093 10.5724 64.1035 10.0202L64.0103 1.02066C64.0046 0.468402 64.4477 0.0160747 64.9999 0.0103555V0.0103555Z"
                        fill="white" fill-opacity="0.71" [ngStyle]="{'fill': color}" />
                </svg>
            </ion-col>
            <ion-col size="2" class=""></ion-col>
        </ion-row>
        <ion-row *ngIf="color && imageUploadForm.get('level4Val').controls.length!=0">
            <ion-col size="7" class=""></ion-col>
            <ion-col size="3" style="text-align: center;">
                <ion-label class="swatch-label-color">{{color}}</ion-label>
                <!-- <small *ngFor="let validation of validationMessages.swatch">
                    <span class="error"
                        *ngIf="imageUploadForm.get('swatch').hasError(validation.type) && (imageUploadForm.get('swatch').dirty || imageUploadForm.get('swatch').touched)">
                        {{ validation.message }}
                    </span>
                </small> -->
            </ion-col>
            <ion-col size="2" class=""></ion-col>
        </ion-row>
        <ion-row *ngIf="imageUploadForm.get('level4Val').controls.length!=0" class="">
            <ion-col size="1" [ngClass]="focused=='tags'?'col-text-icon col-border':''">
                <ion-icon name="cafe-sharp" *ngIf="focused=='tags'"></ion-icon>
            </ion-col>
            <ion-col size="4" [ngClass]="focused=='tags'?'col-text-yellow':'col-text-white'">
                <ion-label>Add #Tags</ion-label>
            </ion-col>
            <ion-col size="7" style="margin-bottom: -16px;">
                <ion-item class="cat-dropdown">
                    <ion-textarea placeholder="#Trends,#Trending, #Niche" maxlength="50"
                        (ionChange)="textareaMaxLengthValidation()" (ionFocus)="focused='tags'" formControlName="tags">
                    </ion-textarea>
                </ion-item>
                <ion-label class="command-tag-count" *ngIf="imageUploadForm.get('tags').value">
                    {{imageUploadForm.get('tags').value?imageUploadForm.get('tags').value.length:0}}/50
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="imageUploadForm.get('level4Val').controls.length!=0">
            <ion-col size="2">
            </ion-col>
            <ion-col size="8" class="col-text">
                <ion-text color="light"><small>* All fields must be filled</small></ion-text>
            </ion-col>
            <ion-col size="2">
            </ion-col>
        </ion-row>
    </form>
</ion-content>
<ion-toolbar *ngIf="showToolbar == true" color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button (click)="goBack()">
                <ion-icon name="caret-back-outline"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="uploadFile()">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-label>Upload</ion-label>
            </ion-tab-button>
            <!-- <ion-tab-button (click)="set()">
                <ion-label>Check</ion-label>
            </ion-tab-button> -->
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>