        [background] {
            margin: 0 -15px;
            ion-content {
                --background: #525252;
            }
        }
        
        [background-text] {
            margin: 0;
            background: var(--ion-color-yellow);
            text-align: center;
        }
        
        [ion-col-height] {
            width: 100%;
            // height: 170px;
            // max-height:250px;
            z-index: 100;
        }
        
        // //example
        .categories {
            background: #292927;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            // margin: 25pt 0;
            ion-button,
            ion-item {
                margin: 2px;
                border-radius: 30px;
                width: 95px;
                font-size: 12px;
                // width: 80px;
                // font-size: 10px;
                // height: 40px;
            }
        }
        
        //example
        // .categories {
        //     background: #292927;
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     justify-content: center;
        //     // margin: 25pt 0;
        //     div {
        //         margin: 5px;
        //         border-radius: 30px;
        //         width: 90px;
        //         // height: 40px;
        //     }
        // }
        .un-selected {
            --background: transparent;
            border: #ffffff 2px solid;
            color: white!important;
        }
        
        .selected {
            background-color: var(--ion-color-yellow); //#F6C762;
            color: #000000;
            border: var(--ion-color-yellow); //#F6C762 2px solid;
        }
        
        ion-content {
            --background: #292927;
            // --background: #ffffff;
        }
        
        .video-player1 {
            background: #1f1e1d;
            width: 100%;
            height: 300px;
            video {
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        
        .img-preview {
            // object-fit: cover;
            object-fit: contain;
            object-position: 50% 75%;
            width: 100%;
            // height: 250px;
            background-color: var(--ion-color-pantoneblack); //lighten(var(--ion-color-yellow), 70%);
            height: 300px;
        }
        
        .collapse-content {
            width: 50vw;
            margin: auto;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        }
        
        .collapse {
            background: #fff;
        }
        
        .collapse a {
            display: block;
            font-size: 1rem;
            font-weight: 500;
            padding: 0.9rem 1.8rem;
            color: #fff;
            position: relative;
        }
        
        .collapse a.instagram {
            background: #db2e7d;
        }
        
        .collapse a.twitter {
            background: #1dabdd;
        }
        
        .collapse a.dribbble {
            background: #444;
        }
        
        .collapse a.youtube {
            background: #ff0000;
        }
        
        .collapse a:before {
            content: "";
            border-top: 7px solid #fff;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            top: 25px;
            right: 30px;
        }
        
        // .content {
        //   transition: 0.3s linear 0s;
        //   overflow: hidden;
        // }
        .collapse+.collapse a {
            border-top: 1px solid rgba(255, 255, 255, 0.7);
        }
        
        h3 {
            margin-bottom: 15px;
        }
        
        .collapse:target .content {
            max-height: 15em;
        }
        
        .collapse:target a:before {
            transform: rotate(-90deg);
        }
        
        [fab-zoom] {
            bottom: 20px;
            right: calc(20px + var(--ion-safe-area-right, 0px));
            // ion-fab-button {
            //     width: 40px;
            //     height: 40px;
            // }
        }

        .progress{
            height: 10px;
            // width: 90%;
            --buffer-background:white;
        }

        .cat-dropdown {
            --background: #ffffff00;
            color: #ffffffa6 !important;
            border: 2px solid #fff;
            max-height: 65%;
            // --border-color: #595a58;
            border-radius: 7px;
            font-size: 11px;
            border: 1px solid #ffffffcc;
            --placeholder-color: #ffffff94 ;
            --highlight-background: rgb(0 0 0 / 0%);
              
            // --background: #f8f9fa26;
            // color: white !important;
            // border: 2px solid #fff;
            // height: 85%;
            // --border-color: #595a58;
            // border-radius: 7px;
            ion-label {
                margin-top: -5px;
            }
            ion-input {
                margin-top: -9px;
            }
        }
        // .cat-dropdown:hover {
        //     border: 1px solid #ffd70099;
        //     ion-label {
        //         color: #fff;
        //     }
        //     ion-input {
        //         color: #fff;
        //     }
        // }
        .cat-dropdown:active {
            border: 1px solid #ffd70099;
            --placeholder-color: #ffffffe3 ;
            ion-label {
                color: #fff;
            }
            ion-input {
                color: #fff;
            }
        }
        .cat-dropdown:active .col-text {
            color: #ffd700;
        }
        .col-border {
            border-left: 3px solid #ffd700;
            max-height: 44px;
        }
        .col-text {
            --border-color: #595a58;
            text-align: center;
            top: 10px;
            color: #ffffffa6;
            font-size: 12px;
        }
        .col-text-yellow {
            text-align: center;
            // top: 10px;
            color: #ffd700;
        }
        .col-text-white {
            text-align: center;
            // top: 10px;
            color: #fff;
        }
        .col-text-icon {
            text-align: center;
            // top: 10px;
            font-size: 21px;
            color: #ffd700;
        }
        .color-picker-align {
            max-width: 100%;
        }
        .progress-bar {
            margin: 0px;
        }
        .progress-breadcrumbs-padding {
            padding: 10px;
            line-height: 25px;
        }
        ion-select {
            margin-bottom: 15px;
            max-width: 100%;
            --padding-end: 0px;
            --padding-start: 0px;
        }
        .tab_bar {
            padding: 5px;
            margin-bottom: 7px;
        }
        .color-input {
            margin-top: 16px;
        }
        .command-tag-count {
            font-size: 12px;
            margin-left: 200px;
            color: #ffffff61;
        }
     

        // TABS
       
        /* <source :http://webdesignerhut.com/examples/pure-css-tabs/> */

        /* <source :http://webdesignerhut.com/examples/pure-css-tabs/> */

        .tabs {
            max-width: 90%;
            float: none;
            list-style: none;
            padding: 0;
            margin: 0px auto;
            // border-bottom: 4px solid #ccc;
        }
        .tabs:after {
            content: '';
            display: table;
            clear: both;
        }
        .tabs input[type=radio] {
            display:none;
        }
        .tabs label {
            display: block;
            float: left;
            width: 33.3333%;
            color: #ccc;
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            line-height: 3;
            cursor: pointer;
            // box-shadow: inset 0 4px #ccc;
            // border-bottom: 4px solid #ccc;
            -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
            transition: all 0.5s;
        }
        .tabs label span {
            display: none;
        }
        .tabs label i {
            padding: 5px;
            margin-right: 0;
        }
        // .tabs label:hover {  
        //     color: #ffd700;
        //     box-shadow: inset 0 4px #ffd700;
        //     border-bottom: 4px solid #ffd700;
        // }
        .tab-content {
            display: none;
            width: 100%;
            float: left;
            // padding: 15px;
            box-sizing: border-box;
            background-color:#292927;
        }
        .tab-content * {
            -webkit-animation: scale 0.7s ease-in-out;
            -moz-animation: scale 0.7s ease-in-out;
            animation: scale 0.7s ease-in-out;
        }
        @keyframes scale {
        0% {
            transform: scale(0.9);
            opacity: 0;
            }
        50% {
            transform: scale(1.01);
            opacity: 0.5;
            }
        100% {
            transform: scale(1);
            opacity: 1;
        }
        }
        .tabs [id^="tab"]:checked + label {
            background: #ffffff00;
            // box-shadow: inset 0 4px #ffd700;
            border-bottom: 4px solid #ffd700;
            color: #ffd700;
        }
        #tab1:checked ~ #tab-content1,
        #tab2:checked ~ #tab-content2,
        #tab3:checked ~ #tab-content3 {
            display: block;
        }
        @media (min-width: 768px) {
            .tabs i {
                padding: 5px;
                margin-right: 10px;
            }
            .tabs label span {
                display: inline-block;
            }
            .tabs {
            max-width: 950px;
            margin: 50px auto;
            }
        }
        .swatch-icon {
            color: #c1c1c1;
            font-size: 20px;
            margin-left: 5px;
        }
        .swatch-icon:hover {
            cursor: pointer;
        }
        .swatch-label {
            color: #ffffff94;
            font-size: 12px;
        }
        .swatch-label-color {
            color: #fff;
            font-size: 12px;
            margin-left: -25px;
        }
        .swatch-label-color:hover {
            cursor: pointer;
        }
        .swatch-item{
            height: 40px;
        }
        #swatch-radio {
            display: none;
        }
        // .swatch-item-row-content{
        //     display: none;
        // }
        // #swatch-radio:checked ~ #swatch-item-row {
        //     display: block;
        // }
    //    .ion-tab-btn{
    //     --background:#ffd700;
    //     --background-focused:#ffd700;
    //     --color:#292927;
    //     --color-focused:#292927;
    //     --color-selected:#292927;
    //    }

    .chk-mr{
        margin-top: 25px;
    }

    .color-picker {
        top: -358.009px !important;
        left: -80px !important;
        position: absolute !important;
    }
    // .ion-slct-1{
    //     min-width: 16px;
    // }
    // .ion-slct-2{
    //         min-width: 235px;
    // }
    ion-select::part(icon) {
        display: none !important;
       }
    // .alert-custom-class-info {
    //     --background: aqua;
    //   }
    .select-text {
        min-width: 250px;
    }

   .swatch-item{
    padding: 0px 0px;
    margin: 5px -5px;
    }

::-webkit-input-placeholder { font-size: 14px; }
::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 14px; } /* ie */
input:-moz-placeholder { font-size: 14px; }


// .alert-wrapper.sc-ion-alert-md{
//     background:transparent;
// }
// .alert-title.sc-ion-alert-md{
//     color: #f9f9f9;
// }
// .alert-radio-inner.sc-ion-alert-md{
//     color: #f9f9f9;
// }
// .alert-radio-label.sc-ion-alert-md{
//     color: #f9f9f9;
// }
// .alert-button.sc-ion-alert-md {
//     color: #f9f9f9;
// }
// [aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
//     color: #f9f9f9;
// }
// .alert-wrapper.sc-ion-alert-ios{
//     background:transparent;
// }
// .alert-title.sc-ion-alert-ios{
//     color: #f9f9f9;
// }
// .alert-radio-inner.sc-ion-alert-ios{
//     color: #f9f9f9;
// }
// .alert-radio-label.sc-ion-alert-ios{
//     color: #f9f9f9;
// }
// .alert-button.sc-ion-alert-ios {
//     color: #f9f9f9;
// }
// [aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios{
//     color: #f9f9f9;
// }


.border-red{
    border: 1px solid red;
}
.border-yellow{
    border: 1px solid #ffd700;
}
.ion-color-yellow {
    --ion-color-contrast:#fff;
}
.arrow{
    color: #b5b5b4;
    font-size: 10px;
}
.up-arrow{
    position: absolute;
    margin-top: -10px;
}
.down-arrow{
    margin-right: 5px;
    margin-bottom: 2px;
}
.icon-swatch{
    font-size: 40px;
}
.border-green{
    border: 1px solid ;
}
.chk-item{
    --background: transparent;
    --color: white;
    --border-color: transparent;
}
.border-white{
    border: 1px solid #ffffffcc;
}
.col-mr{
    margin: 10px 0px;
    border-radius: 7px;
}

// .alert-sub-title.sc-ion-alert-md{
//     font-size: unset;
//    }

//    .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
//        padding-top: unset;
//    }
//    .alert-message.sc-ion-alert-ios, .alert-input-group.sc-ion-alert-ios {
//        padding-top: unset;
//    }
//    .alert-button-inner.sc-ion-alert-md {
//        color: unset;
//    }