  .img_size {
      width: 100%;
    //   object-fit: contain;
      object-fit: cover;
      object-position: center;
      background-color:var(--ion-color-pantoneblack);
    //   height: 270px;
    height: 25rem;

  }
  
  [back_funct] {
      position: absolute;
      top: 5%;
      z-index: 999;
  }
  
  [role_funct] {
      position: absolute;
    //   bottom: 30%;
      top: 15rem;
      z-index: 999;
      p {
          color: var(--ion-color-white);
      }
      h3 {
          font-weight: bolder !important;
          font-size: 1.2em !important;
          color: var(--ion-color-yellow);
      }
  }
  
  .profile-details {
    //   padding: 10px;
      margin-top: -80px;
      background: #292927;
      border-radius: 30px 30px 0 0;
      position: relative;
      bottom: 0;
      box-shadow: 2px 6px 25px -9px black;
      p {
          color: var(--ion-color-white);
      }
      h3 {
          font-weight: bolder !important;
          font-size: 1em !important;
          color: var(--ion-color-yellow);
      }
      h5 {
        font-weight: lighter !important;
        font-size: 1em !important;
        color: var(--ion-color-light);
    }
  }

  .margin-rl{
      margin: 0 15px;
  }