<!-- <ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content>

    <ion-list class="ion-no-padding">

        <ion-img [src]="loggedDetails.upload_image" class="img_size" *ngIf="loggedDetails.upload_image"></ion-img>
        <ion-img src="../../assets/image/avatar_up.jpg" class="img_size" *ngIf="!loggedDetails.upload_image">
        </ion-img>
        <ion-buttons back_funct slot="start">
            <ion-back-button color="white" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <!-- <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col>
                   
                </ion-col>
            </ion-row> -->
        <ion-item header-menu role_funct lines="none">
            <ion-label>
                <h3 color="yellow" class="ion-text-capitalize">{{loggedDetails.stud_name}}</h3>
                <!-- <p color="white">{{loggedDetails.city}}</p> -->
                <p color="white">{{City}}</p>
            </ion-label>
        </ion-item>
        <!-- </ion-grid> -->
    </ion-list>

    <div class="profile-details">
        <ion-grid class="mt-5">
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label class="d-flex">
                            <ion-icon name="person" color="yellow"></ion-icon> &nbsp;
                            <h5 color="light" class="ion-text-capitalize">Profile</h5>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label>
                            <h3 color="yellow" class="ion-text-capitalize">{{loggedDetails.mobileno}}</h3>
                            <p color="white">Mobile #</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label>
                            <h3 color="yellow" class="ion-text-capitalize">{{loggedDetails.emailid}}</h3>
                            <p color="white">Email</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label>
                            <h3 color="yellow" class="ion-text-capitalize">{{age}}</h3>
                            <p color="white">Age</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label>
                            <h3 color="yellow" class="ion-text-capitalize">{{loggedDetails.gender}}</h3>
                            <p color="white">Gender</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label>
                            <h3 color="yellow" class="ion-text-capitalize">{{loggedDetails.interests}}</h3>
                            <p color="white">Interest</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label>
                            <h3 color="yellow" class="ion-text-capitalize">{{loggedDetails.hobby}}</h3>
                            <p color="white">Hobbies</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item header-menu lines="none">
                        <ion-label class="d-flex">
                            <ion-icon color="yellow" name="apps"></ion-icon> &nbsp;
                            <h5 color="light" class="ion-text-capitalize">Social Media</h5>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col align-self-center>
                    <ion-item header-menu lines="none" *ngIf="LinkedInEdit == false">
                        <!-- <ion-icon slot="start" name="logo-linkedin" color="light" size="small"  class="ion-align-self-end">
                        </ion-icon> -->
                        <ion-label color="yellow">
                            <ion-icon slot="start" name="logo-linkedin" color="light" size="small"
                                class="ion-align-self-end">
                            </ion-icon> &nbsp; {{loggedDetails.linkedin_id}}
                        </ion-label>
                        <ion-button color="yellow" (click)='editProfile("linkedin")' slot="end">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item class="margin-rl" input-text-color *ngIf="LinkedInEdit == true">
                        <ion-label label color="light" position="floating">Linkedin
                        </ion-label>
                        <ion-input type="text" #linkedin [ngModel]="loggedDetails.linkedin_id"
                            placeholder=" xyz.linkedin@gmail.com"></ion-input>
                        <ion-icon name="save-outline" color="yellow" size="small"
                            (click)='saveProfile("linkedin",linkedin.value)' class="ion-align-self-end" slot="end">
                        </ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col align-self-center>
                    <ion-item header-menu lines="none" *ngIf="instaEdit == false">
                        <!-- <ion-icon slot="start" name="logo-linkedin" color="light" size="small"  class="ion-align-self-end">
                        </ion-icon> -->
                        <ion-label color="yellow">
                            <ion-icon slot="start" name="logo-instagram" color="light" size="small"
                                class="ion-align-self-end">
                            </ion-icon> &nbsp; {{loggedDetails.insta_id}}
                        </ion-label>
                        <ion-button color="yellow" (click)='editProfile("insta")' slot="end">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item class="margin-rl" input-text-color *ngIf="instaEdit == true">
                        <ion-label label color="light" position="floating">Instagram
                        </ion-label>
                        <ion-input #insta type="text" [ngModel]="loggedDetails.insta_id"
                            placeholder=" xyz.fashionIndia">
                        </ion-input>
                        <ion-icon name="save-outline" color="yellow" size="small"
                            (click)='saveProfile("insta",insta.value)' class="ion-align-self-end" slot="end">
                        </ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col align-self-center>
                    <ion-item header-menu lines="none" *ngIf="fbEdit == false">
                        <ion-label color="yellow">
                            <ion-icon slot="start" name="logo-facebook" color="light" size="small"
                                class="ion-align-self-end">
                            </ion-icon> &nbsp; {{loggedDetails.fb_id}}
                        </ion-label>
                        <ion-button color="yellow" (click)='editProfile("fb")' slot="end">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item class="margin-rl" input-text-color *ngIf="fbEdit == true">
                        <ion-label label color="light" position="floating">Facebook
                        </ion-label>
                        <ion-input #fb type="text" [ngModel]="loggedDetails.fb_id" placeholder="xyz@gmail.com">
                        </ion-input>
                        <ion-icon name="save-outline" color="yellow" size="small" (click)='saveProfile("fb",fb.value)'
                            class="ion-align-self-end" slot="end">
                        </ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>