<ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="inner-div">
        <form [formGroup]="UrNmeExistForm" autocomplete="off" #f="ngForm" (ngSubmit)="ForgotPwdUserNameCheck()"
            *ngIf="!forgotPwdForm">
            <ion-grid>
                <ion-row>
                    <ion-col size="1"></ion-col>
                    <ion-col align-self-center>
                        <ion-img src="../../assets/image/VidioNxtLogo.png" class="w-45 mx-auto mt-3"></ion-img>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                </ion-row>
                <ion-row class="mt-5" *ngIf="!forgotPwdForm">
                    <ion-col align-self-center>
                        <ion-item input-text-color>
                            <ion-label color="light" position="floating">Username
                            </ion-label>
                            <ion-input formControlName="username" type="text" required></ion-input>
                            <ion-icon name="person-outline" color="light" size="small" class="ion-align-self-end"
                                slot="end"></ion-icon>
                        </ion-item>
                        <div class="error"
                            *ngIf="UrNmeExistForm.controls['username'].errors?.required && (UrNmeExistForm.get('username').touched || f.submitted)">
                            Username is Required.</div>
                        <div class="error" *ngIf="UrNmeExistForm.controls['username'].errors?.username &&
                                (UrNmeExistForm.get('username').touched || f.submitted)">
                            Username is Invalid.</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center>
                        <ion-button type="submit" expand="block" color="btn-yellow btn-height" size="large" btn-yellow
                            class="mt-15">
                            Send
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

        <form [formGroup]="resetPasswordFg" autocomplete="off" #f="ngForm" (ngSubmit)="UpdatePwd()"
            *ngIf="forgotPwdForm">
            <ion-grid>
                <ion-row>
                    <ion-col size="1"></ion-col>
                    <ion-col align-self-center>
                        <ion-img src="../../assets/image/VidioNxtLogo.png" class="w-45 mx-auto mt-3"></ion-img>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                </ion-row>
                <ion-row class="mt-5">
                    <ion-col align-self-center>
                        <ion-item input-text-color>
                            <ion-label color="light" position="floating">Username
                            </ion-label>
                            <ion-input formControlName="user_name" type="text" readonly required></ion-input>
                            <ion-icon name="person-outline" color="light" size="small" class="ion-align-self-end"
                                slot="end"></ion-icon>
                        </ion-item>
                        <div class="error"
                            *ngIf="resetPasswordFg.controls['user_name'].errors?.required && (resetPasswordFg.get('user_name').touched || f.submitted)">
                            Username is Required.</div>
                        <div class="error" *ngIf="resetPasswordFg.controls['user_name'].errors?.user_name &&
                                          (resetPasswordFg.get('user_name').touched || f.submitted)">
                            Username is Invalid.</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center>
                        <ion-item input-text-color>
                            <ion-label color="light" position="floating">Password
                            </ion-label>
                            <ion-input [type]="passwordType" formControlName="pwd" type="text" required></ion-input>
                            <ion-icon [name]="passwordIcon" color="light" size="small" (click)='hideShowPassword()'
                                class="ion-align-self-end" slot="end">
                            </ion-icon>
                        </ion-item>
                        <div class="error"
                            *ngIf="resetPasswordFg.controls['pwd'].errors?.required && (resetPasswordFg.get('pwd').touched || f.submitted)">
                            Password is Required.</div>
                        <div class="error" *ngIf="resetPasswordFg.controls['pwd'].errors?.pwd &&
                                          (resetPasswordFg.get('pwd').touched || f.submitted)">
                            Password is Invalid.</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center>
                        <ion-item input-text-color>
                            <ion-label color="light" position="floating">Confirm Password
                            </ion-label>
                            <ion-input [type]="cpasswordType" formControlName="cnfm_pwd" type="text"
                                (ionBlur)="MatchPassword()" required></ion-input>
                            <ion-icon [name]="cpasswordIcon" color="light" size="small" (click)='hideShowcPassword()'
                                class="ion-align-self-end" slot="end">
                            </ion-icon>
                        </ion-item>
                        <div class="error"
                            *ngIf="resetPasswordFg.controls['cnfm_pwd'].errors?.required && (resetPasswordFg.get('cnfm_pwd').touched || f.submitted)">
                            Confirm Password is Required.</div>
                        <div class="error" *ngIf="resetPasswordFg.controls['cnfm_pwd'].errors?.cnfm_pwd &&
                                          (resetPasswordFg.get('cnfm_pwd').touched || f.submitted)">
                            Confirm Password is Invalid.</div>
                        <!-- <p class="mt-3 error">{{passwordIsNotSame}}</p> -->
                        <div class="error" *ngIf="cpwdErrMessage &&
                                                      (resetPasswordFg.get('cnfm_pwd').touched || f.submitted)">
                            {{cpwdErrMessage}}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center class="col-padd">
                        <ion-button type="submit" expand="block" color="btn-yellow btn-height" size="large" btn-yellow
                            class="mt-15">
                            Send
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>