<app-header>
</app-header>
<ion-content>
    <div class="inner-div">
        <ion-grid>
            <ion-row searchbar>
                <ion-col>
                    <ion-searchbar color="yellow" [(ngModel)]="homeSearch" showCancelButton="focus"
                        (ionChange)="HomeSearch()" debounce="1000">
                    </ion-searchbar>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="pt-3">
            <ion-row *ngIf="SeearchedLists.length == 0" >
                <ion-col>
                    <ion-card class="ion-margin-vertical">
                        <ion-card-content>
                            No Record Found
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="SeearchedLists.length > 0" >
                <ion-col (click)="gotoInnerPage(post)" size=6 *ngFor="let post of SeearchedLists">
                    <img *ngIf="post.image_video == 'IMAGE'" [src]="post.upload_image" class="img_size" crossorigin>
                    <div *ngIf="post.image_video == 'VIDEO'" ion-col-height>
                        <ion-content>
                            <img [src]="post.upload_thump" crossorigin class="video_tag">
                            <!-- <ion-item class="fs-12 black-bg" black-bg fill="clear">
                                <ion-icon name="play-circle-outline"></ion-icon> <span> &nbsp; Play</span>

                            </ion-item> -->
                            <!-- <ion-icon name="play-circle-outline" class="videoicon"></ion-icon> -->
                            <div class="overlay">
                                <ion-icon name="play-circle-outline" class="videoicon"></ion-icon>
                            </div>
                        </ion-content>
                        <!-- <ion-content>
                            <video poster="" preload="auto" crossorigin class="video_tag">
                                <source [src]="post.upload_image" type="">
                            </video>
                            <ion-item class="fs-12 black-bg" fill="clear">
                                <ion-icon name="play-circle-outline"></ion-icon> <span> &nbsp; Play</span>
                            </ion-item>
                        </ion-content> -->
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="loadMoreBtn">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <div class="ion-text-center">
                        <ion-button color="yellow btn-curve" size="small" btn-yellow class="mt-10" (click)="loadData()">Load
                            More &nbsp;<ion-icon name="arrow-down-outline"></ion-icon>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content class="loadingspinner" loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll> -->
    </div>

</ion-content>

<ion-toolbar *ngIf="showToolbar == true" color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button [routerLink]="['/home']">
                <ion-icon name="home-outline"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
<!-- <ion-tabs>
    <ion-tab-bar color="yellow" slot="bottom">
        <ion-tab-button [routerLink]="['/home']">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->