[searchbar] {
    background: white;
    margin: -15px!important;
    padding: 1rem;
    ion-searchbar {
        width: 90%;
        --border-radius: 50px;
        margin: 0 auto;
    }
}

// .searchbar-input.sc-ion-searchbar-md {
//     background: #ffc1077d !important;
// }
.searchbar-md {
    .searchbar-input {
        --background: var(--ion-color-warning) !important;
        //background-color: #009196;
    }
}


[ion-col-height] {
    width: 100%;
    height: 150px;
    // background: #ffffff;
    ion-content {
        --background: #525252;
        ion-button {
            font-size: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.video_tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position:absolute;
    z-index:0;
}
.overlay {
    position:absolute;
    bottom: 0;
    left: 0;
    z-index:1;
    height: 20%;
    p{
        margin-top: 0;
        margin-bottom: 1rem;
        background: var(--ion-color-yellow);//#f6c762;
        padding: 10px;
        position: absolute;
        bottom: 0;
        text-overflow: ellipsis;
        /* width: 128%; */
    }
}
.img_size {
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    height: 150px;
}
// .videoicon{
//     font-size: 60px;
//     color: white;
//     margin: 45px 65px;
// }
.videoicon{
    // font-size: 60px;
    // color: white;
    // margin: 25% 25%;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    opacity: 1;
    }

    .btn-curve{
        border-radius: 10px;
        --border-radius: 10px;
        --ion-color-contrast: #212721;
     }