[font-small] {
    // font-size: 12px!important;
    font-weight: bold !important;
    --border-radius: 0px;
}

[margin-1] {
    margin: 2.25rem;
}

.icon {
    display: flex;
    font-size: 70px;
    color: var(--ion-color-yellow); //#ffC977;
    vertical-align: middle;
}

[ion-col-height] {
    width: 100%;
    height: 150px;
    // background: #ffffff;
    ion-content {
        --background: #212721;
        ion-button {
            font-size: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.img_size {
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    height: 150px;
    // border-radius: 10px;
}

[over] {
    z-index: 1;
}

.video_tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    // border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 20%;
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        background: var(--ion-color-yellow); //#f6c762;
        padding: 10px;
        position: absolute;
        bottom: 0;
        text-overflow: ellipsis;
        /* width: 128%; */
    }
}

.inner-div {
    position: absolute!important;
    min-height: 95%!important;
    display: block;
}

// .videoicon{
//     font-size: 60px;
//     color: white;
//     margin: 25% 25%;
// }

.border-round {
    border-radius: 10px;
}
.btn-curve{
    border-radius: 10px;
    font-weight: bold !important;
    --ion-color-contrast: #212721;
}

.videoicon{
    // font-size: 60px;
    // color: white;
    // margin: 25% 25%;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    opacity: 1;
    }