<app-header>
</app-header>
<ion-content>
    <div class="inner-div">
        <ion-grid class="">
            <!-- pt-3 -->
            <ion-row class="ion-text-center">
                <ion-col>
                    <ion-button rippleEffect="false" [routerLink]="['/upload-images-videos']"
                        [queryParams]="{type:'image'}" class="ion-text-capitalize btn-curve" color="yellow"
                        size="default">
                        Upload Image
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button rippleEffect="false" [routerLink]="['/upload-images-videos']"
                        [queryParams]="{type:'video'}" class="ion-text-capitalize btn-curve" color="yellow"
                        size="default">
                        Upload Video
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col (click)="gotoInnerPage(post)" size=6 *ngFor="let post of  postedList">
                    <img *ngIf="post.image_video == 'IMAGE'" [src]="post.upload_image" class="img_size" crossorigin>
                    <div *ngIf="post.image_video == 'VIDEO'" black-bg ion-col-height>
                        <ion-content>
                            <!-- <video preload="auto" controls crossorigin class="video_tag">
                                <source [src]="post.upload_image" type="">
                            </video> -->
                            <!-- <video [poster]="post.upload_thump" preload="auto" crossorigin class="video_tag">
                                <source [src]="post.upload_image" type="">
                            </video> -->
                            <img [src]="post.upload_thump" crossorigin class="video_tag">
                            <!-- <ion-item class="fs-12 black-bg" black-bg fill="clear"> -->
                            <!-- <ion-icon name="play-circle-outline" class="videoicon"></ion-icon> -->
                            <!-- </ion-item> -->
                            <div class="overlay">
                                <ion-icon name="play-circle-outline" class="videoicon"></ion-icon>
                            </div>
                        </ion-content>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" [routerLink]="['/uploadedimages']" class="border-round">
                        <ion-icon margin-1 class="icon mx-auto" color="yellow" name="images-outline">
                        </ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" class="align-content-center" [routerLink]="['/uploadedvideos']"
                        class="border-round">
                        <ion-icon margin-1 name="albums-outline" class="icon mx-auto"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!-- for getting image width and height -->
    <!-- <img id='getImagePreview' *ngIf="imagePreview" [src]="imagePreview" class="w-100" style="visibility: hidden;" /> -->
</ion-content>
<ion-toolbar color="yellow" slot="bottom">
    <ion-tabs>
        <ion-tab-bar color="yellow" slot="bottom">
            <ion-tab-button (click)="presentActionSheet()">
                <ion-icon name="camera-outline"></ion-icon>
                <ion-label>Camera</ion-label>
            </ion-tab-button>
            <ion-tab-button [routerLink]="['/search']">
                <ion-icon name="search-outline"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>